[2016-03-12 14:34] richleland opened #3 "Set up CI"
All of our client libraries use TravisCI.

* Set up config file
* Add TravisCI badge

https://docs.travis-ci.com/user/languages/csharp/

[2016-03-12 14:36] richleland opened #4 "Set up coverage reports"
We use coveralls for our client libraries.

* Configure Travis to work with coveralls
* Add coveralls badge

This library might help: https://github.com/csMACnz/coveralls.net

[2016-03-12 14:53] richleland commented on #3
Config file added to ISSUE-3 branch. @darrencauthon I don't know enough about .NET to understand the errors I see here: https://travis-ci.org/SparkPost/csharp-sparkpost/builds/115531913 - whenever you have a sec if you could take a look that would be great.

[2016-03-12 15:00] darrencauthon commented on #4
I'll just find the version that works with Travis, no problem. I haven't tried building the solution on my Mac with Xamarin yet -- that'll give me a good idea of what it needs to build on Linux.

[2016-03-12 15:00] richleland commented on #3
I think I tracked it down: http://stackoverflow.com/a/32302959/174030 - though I'm not sure if, from your standpoint, this is worth doing. It means changes to settings in the csproj file.

[2016-03-12 15:03] darrencauthon commented on #3
We'd have to major changes to the csproj anyway. I think those changes
sound ok.

I won't be able to make the changes until I get back on my laptops later in
the day. If you don't want to wait, why not give it a try? :) don't worry
you can't hurt it. Anything that accidentally breaks can be fixed. Tinker
away...I'd LOVE to have this on Travis!

On Saturday, March 12, 2016, Richard Leland <notifica

[2016-03-12 15:09] darrencauthon commented on #3
Oh just to warn you: there is one test that is failing,  I have one
integration test that I used during dev, making sure not to check in my
key. It's still in there, but I intended to remove it with more unit tests.

Another option for this failing integration test is to load a testing key
from SparkPost into Travis. Then the tests can fire emails and verify, at
least, that the SparkPost API respo

[2016-03-13 01:57] richleland commented on #3
YES: https://travis-ci.org/SparkPost/csharp-sparkpost/builds/115609947

[2016-03-13 02:07] darrencauthon commented on #3
It's great that it built, but I don't think it ran the tests. I'll look up
how to run nunit tests with Travis CI

On Saturday, March 12, 2016, Richard Leland <notifications@github.com>
wrote:

--
Darren Cauthon
darren@cauthon.com

[2016-03-13 02:08] richleland commented on #3
oh well, um, yeah....

[2016-03-13 02:10] richleland commented on #3
![no idea](http://cathyreisenwitz.com/wp-content/uploads/2016/01/no.jpg)

[2016-03-13 02:10] darrencauthon commented on #3
Hey it's still a step forward! I've never actually plugged a .Net app into
Travis CI, I'm learning too.

On Saturday, March 12, 2016, Richard Leland <notifications@github.com>
wrote:

--
Darren Cauthon
darren@cauthon.com

[2016-03-13 02:10] richleland commented on #3
btw - this might have the info we need: https://docs.travis-ci.com/user/languages/csharp/

[2016-03-13 02:27] darrencauthon commented on #3
It does.  Let me take it from here, I've got this.

[2016-03-14 23:36] darrencauthon commented on #3
@richleland It builds and runs the tests. If a test or build fails, it goes red.

All we need now is the badge. Can you add that?

[2016-03-16 14:39] darrencauthon opened #6 "transmission.Options.Transactional = true;"
Check that this flag works with the API properly:

[code]

[2016-03-16 17:42] yhuangf opened #7 ".netframework 4.5.1"
We are using 4.5.1, and found out that spark-post was rolled back to 4.5 3 days ago. Any particular reason for the rolling back? Any projected time the package will be available to 4.5.1 .net solutions?

The nuget package installation returns errors:
**install-package : Could not install package 'SparkPost 1.0.0.13918'. You are trying to install this package into a project
that targets '.NETFramew

[2016-03-17 13:36] richleland commented on #3
Added - thanks for the work here - awesome to have that set up!

[2016-03-17 13:36] #3 closed

[2016-03-17 17:45] richleland opened #8 "Could not install package 'SparkPost 1.0.0.13918'. with NETFramework"
From one of our awesome customers:

command: Install-Package SparkPost as the web says. My problem is that
seems that is not compatile with .net framework version 4.5.

are trying to install this package into a project that targets
'.NETFramework,Version=v4.5', but the package does not contain any
assembly references or content files that are compatible with that
framework. For more information, c

[2016-03-18 02:56] richleland commented on #7
tagging @darrencauthon for insight

[2016-03-18 11:39] darrencauthon commented on #7
I can reproduce the problem:

![screenshot_031816_063856_am](https://cloud.githubusercontent.com/assets/148768/13876707/17d738c6-ecd4-11e5-98b2-2787254500ac.jpg)

[2016-03-18 12:38] darrencauthon commented on #7
![fullscreen_031816_073827_am](https://cloud.githubusercontent.com/assets/148768/13878009/68a7b82c-ecdc-11e5-9356-0513a854a883.jpg)

[2016-03-18 15:18] darrencauthon commented on #8
I'm closing. I was able to reproduce and resolve the issue in the related PR. Fixed in 1.0.1

[2016-03-18 15:18] #8 closed

[2016-03-18 15:20] darrencauthon commented on #7
Hi @yhuangf can you see if the 1.0.1 version works better for you?

I believe it should, it goes back to 4.5. Closing on that assumption, but please reopen if it 1.0.1 on nuget does not work for you.

[2016-03-18 15:20] #7 closed

[2016-03-18 16:02] yhuangf commented on #7
Hi Darren,

Really appreciated the updating. Yes now 1.01 works fine with me. Confirmed!

Thanks again!

Cheers

Ethan

On Fri, Mar 18, 2016 at 8:20 AM, Darren Cauthon <notifications@github.com>
wrote:

[2016-03-18 16:29] darrencauthon commented on #7
You are very welcome!
It's still a new library, so please let us know if there are any issues! :)

Get Outlook for iOS

On Fri, Mar 18, 2016 at 9:02 AM -0700, "yhuangf" <notifications@github.com> wrote:

Hi Darren,

Really appreciated the updating. Yes now 1.01 works fine with me. Confirmed!

Thanks again!

Cheers

Ethan

On Fri, Mar 18, 2016 at 8:20 AM, Darren Cauthon <notifications@github.com>

[2016-03-18 17:03] balexandre opened #10 "data is sent as string and not boolean values"
As an example for the `Options` property, the serialized version is:

    "{\"content\":{\"template_id\":\"amazon-giftcard\"},\"options\":{\"open_tracking\":\"true\",\"click_tracking\":\"true\",\"transactional\":\"true\",\"sandbox\":\"false\",\"skip_suppression\":\"false\"},\"substitution_data\":{\"code\":\"ABC-123-4567890\",\"amount\":\"$10.00\",\"expiry\":\"12/31/2018\"},\"recipients\":[{\"addre

[2016-03-20 22:05] #10 closed

[2016-03-20 22:06] darrencauthon commented on #10
This was merged with #12, a new branch and PR I created to fix the tests that this change broke.

[2016-03-20 22:19] darrencauthon commented on #10
Thank you for your help @balexandre !  Your change has been pushed to nuget as version 1.0.2

[2016-03-21 16:08] ganeshvelanki opened #13 "Nuget package does not build for .net 4.5"
when i am trying to build my solution, i get this

warning MSB3274: The primary reference "SparkPost" could not be resolved because it was built against the ".NETFramework,Version=v4.5.2" framework.

which is causing build to fail, i see that there is a release for 4.5, but is it updated in nuget repo?

[2016-03-21 16:18] darrencauthon commented on #13
Have you tried upgrading to the latest version?  1.0.2 or greater should have this resolved.

[2016-03-21 17:00] ganeshvelanki commented on #13
i tried both 1.0.2 and 1.0.1 but no luck.. :(, the msbuild says above error as mentioned.

[2016-03-21 18:00] darrencauthon commented on #13
I believe this was fixed with 1.0.1.  I just released 1.0.3 to fix something else.  I just pulled that version for my final test and I seems to work fine on 4.5 for me:

![screenshot_032116_010021_pm](https://cloud.githubusercontent.com/assets/148768/13928729/df0da6d6-ef64-11e5-9167-92f405758636.jpg)

[2016-03-22 05:19] ganeshvelanki commented on #13
Its fixed with 1.0.3 nuget package, thanks for the effort

[2016-03-22 05:19] #13 closed

[2016-03-22 13:13] ganeshvelanki opened #14 "Support for CC and BCC"
hi,

I think support for CC and BCC should be made available in the api itself, I tried with my code like below

[code]
but I don't see any CC emails could you provide some additional info on this please..

I followed this doc for cc and bcc
https://support.sparkpost.com/customer/portal/articles/1948014-how-to-add-cc-and-bcc-to-emails

[2016-03-22 14:16] darrencauthon commented on #14
I can take a look this evening.  I haven't tried to use CC and BCC yet, but I'll see if I can figure it out.

Perhaps the library could open up some functionality like Mandrill did... Their API allowed the type of the email recipient to be set as "bcc" or "cc"... at least I think it did, it's been a while :confused: .

But just looking at the code you have here, and the quick glance at the spec...

[2016-03-22 14:17] darrencauthon commented on #14
The care I would want to take with this library is... I think it should mirror SparkPost's API as closely as the language will allow.  We have to be careful not to let it veer off into some other world.

Maybe we ought to at least provide an example in the readme? :smile:

[2016-03-22 14:27] ganeshvelanki commented on #14
As far as i looked up the code, this C# api resembles same as sparkpost api, but lots of people are migrating from mandrill to sparkpost, in this time, its better to have at least an example in read me regarding CC and BCC.

and regarding my above code, it has been corrected to "CC". But its behaving like BCC, the email is sent to all parties with out CC/BCC list in it the header( has from and to

[2016-03-22 14:30] darrencauthon commented on #14
I'll take a look.  I'm sure I'll be needing CC and BCC soon, anyway. :horse_racing:

[2016-03-22 14:33] ganeshvelanki commented on #14
Fine, I will update if I found any.

[2016-03-24 11:07] JohannesRudolph commented on #14
One way to do it would be to add an extension method on the object iteslf that would take the correct action to add a BCC recipient like ```public static void AddBcc(this Transmission self, Address address)```.

That way you can add "sugar" on top of the basic API. E.g. I'm currently using this and it apparently works, though I found the Sparkpost docs regarding BCC/CC extremely confusing...

[cod

[2016-03-24 11:09] JohannesRudolph opened #15 "Content.From.Name not serialized"
I'm creating a transmission like this:

[code]

However, the json submitted to the API by the sdk/library only has the email in it, and ignores the mail.Content.From.Name property. => Bug

[2016-03-24 11:17] JohannesRudolph commented on #15
This serves me as a temporary workaround:
[code]

[2016-03-24 14:37] darrencauthon commented on #15
I believe I have this handled in #2 .  I originally wrote the mapping of the objects to the API by hand, and in this case I think I just mapped the from address instead of the full offering of the API (which conditionally allows either a string email or an object with many details).

I *think* that PR is ready to go, and the tests pass and it looks good to the eye.  I have yet to actually push ema

[2016-03-24 18:40] JohannesRudolph opened #16 "Add support for SuppressionList API"
As the title says, it would be useful to have access to the supression list API through the official sparkpost library.

[2016-03-25 11:46] Robar666 opened #17 "Cant' send mails, because recipients seems to be empty."
I tried to send an example email, code from https://developers.sparkpost.com/

[code]

But I always get the error
```{ "errors": [ { "message": "required field is missing", "description": "recipients or list_id required", "code": "1400" } ] }```
Maybe the recipients won't be serialized correctly?

Domain has been verified.

[2016-03-25 12:08] darrencauthon commented on #17
Are you sure that's the code that is being run?

I just tried copy-pasting that code directly into Linqpad, plugged in a valid API key, and replaced the developers+csharp with my own email address.  And... I got the email.

![screenshot_032516_070654_am](https://cloud.githubusercontent.com/assets/148768/14043939/284781aa-f258-11e5-95e4-8dd6df5cfe15.jpg)

You can see my email in there.  If you'd li

[2016-03-25 13:50] darrencauthon commented on #15
I believe this is resolved with 1.0.4, released just this morning.  Thank you for pointing it out!

I tested it with this code:

[code]

With version 1.0.3 (and earlier), the from name would not be sent.

With version 1.0.4, the name is sent properly.  The headers_to properly will also be sent, I just didn't fire it in my example.

Firing this code against 1.0.3 and 1.0.4:

![fullscreen_032516_084

[2016-03-25 13:50] #15 closed

[2016-03-25 13:52] darrencauthon commented on #6
And it does! This issue was better explained with #10, and it was resolved with PR #12.

[2016-03-25 13:52] #6 closed

[2016-03-25 14:15] Robar666 commented on #17
So finally found the culprit.

We are also using Json.Net in our application and we are setting some Json.Net default settings (DefaultValueHandling, TypeNameHandling and Formatting). The "TypeNameHandling" setting breaks  your when serializing the transmission.

You can reproduce the error:
[code]

[2016-03-25 14:26] darrencauthon commented on #17
What I'm going to look into is a way to set this ```TypeNameHandling``` for whatever-it's-using-out-of-the-box within the scope of the serialization used in this library.

I didn't know it was even possible to make this type of global setting! :confused:

Note for later:

http://www.newtonsoft.com/json/help/html/serializationsettings.htm

Thanks for bringing this up!

[2016-03-25 14:32] Robar666 commented on #17
Unfortunately we have to set the settings global, because we are using Azure DocumentDb and currently JsonSerializerSettings are not supported.

But there is already a suggestion out there:
https://feedback.azure.com/forums/263030-documentdb/suggestions/6422364-allow-me-to-set-jsonserializersettings

But thanks for looking into this.

Have a nice day/weekend.

[2016-03-26 11:51] #17 closed

[2016-03-26 12:00] darrencauthon commented on #17
Within minutes, version 1.0.5 should be available via Nuget.

I changed the library to ignore the global settings when making its requests to SparkPost, so your global settings should not cause it to fail.

Thanks for helping to find this potential break for others.  Have a good weekend!

[2016-03-26 12:38] darrencauthon commented on #14
From chris.wilson
[code]

[2016-03-26 12:38] darrencauthon commented on #14
- [ ] BCC is the built-in behavior, so no need to do anything.
- [ ] If an email recipient is meant to be sent as CC, then it needs to be included as a recipient AND added to the CC header.

[2016-03-26 12:39] darrencauthon commented on #14
Given what I've learned, I think it would be ok to update the ```Recipient``` object with an enum of [To/CC/BCC].

[2016-03-26 15:59] yepher opened #19 "Travis Build"
@richleland

Just noticed while reviewing the README.md file that the travis build references `ruby-sparkpost.svg` instead of CSharp.

Not sure if this is expected or not so filing an issue so someone can take a look.

Here is the line in question:
    `[![Travis CI](https://travis-ci.org/SparkPost/ruby-sparkpost.svg?branch=master)]`

[2016-03-28 14:28] ganeshvelanki commented on #14
ok, this is cool, enum would be perfectly fine.

[2016-03-28 14:30] darrencauthon commented on #14
I have the fix merged into master, and it works fine for me locally.  I'll
get a new version pushed to nuget around lunchtime, and close the ticket
then.

Thanks for bringing this up!

On Monday, March 28, 2016, Ganesh Vellanki <notifications@github.com> wrote:

--
Darren Cauthon
darren@cauthon.com

[2016-03-28 14:32] ganeshvelanki commented on #14
I will also test it with my code and update you if there are any issues.

[2016-03-28 14:34] ganeshvelanki commented on #14
I will also test it with my code and update you if there are any issues.

[2016-03-28 14:34] #14 closed

[2016-04-03 23:11] coldacid opened #24 "Add interfaces for services"
For the sake of dependency injection and mocking for tests by consumers of csharp-sparkpost, the `Client` and `Transmissions` classes should have interfaces which they will implement. Likewise any additional classes providing SparkPost API functionality should also have interfaces which they would implement.

[2016-04-04 04:48] ctolkien opened #26 "Support Async API's"
Hi, migrating over from Mandrill (as I'm sure are many users).

Would love to see `async` non-blocking api's get added to the surface area.

[2016-04-04 06:58] sandrock commented on #26
Hi. I'm not a project member, only a new guy migrating from Mandrill.

It looks like the [one implemented method](https://github.com/SparkPost/csharp-sparkpost/blob/master/src/SparkPost/Transmissions.cs) is async already.

Is there something wrong with the current async implementation? Or are you missing the other non-implemented methods?

[2016-04-04 07:28] ctolkien commented on #26
Ah, I hadn't actually looked at the code, just at the references from the documentation (which were all `sync`).

[2016-04-04 13:41] martinbc opened #27 "Nuget Package v1.0.6 is not working"
Installing the latest package does not install the correct Newtonsoft.Json version.

Nuget Package Install output:

[code]
Error if you try to send a Transmission:
[code]

[2016-04-04 15:18] darrencauthon commented on #27
I'll take a look soon, thanks!

[2016-04-04 15:19] darrencauthon commented on #26
I wrote that method... and honestly, it was my first time writing any support for ```async```.

The more eyes :eyes:, the better! :smile:

[2016-04-04 15:24] ganeshvelanki commented on #27
I had this issue previously, but it is resolved after I update NewtonSoft.Json to 8.0, once try to update newtonsoft.Json everywhere in the solution. It could resolve the issue.

[2016-04-04 15:25] darrencauthon commented on #27
I don't know the reference got set to 8.0, I must have updated it inadvertently.

[2016-04-04 18:24] #24 closed

[2016-04-04 18:31] darrencauthon commented on #27
I just uploaded 1.0.7... I'll be trying @martinbc 's list soon to see if it resolves the issue.

[2016-04-04 18:33] darrencauthon commented on #26
@ctolkien I believe this has been handled already -- a link to the code is here:

https://github.com/SparkPost/csharp-sparkpost/blob/eb21934481f9b94f6baf36d45110e6dd75369caf/src/SparkPost/RequestSender.cs#L17

If there's something wrong in this implementation, please let me know.  As I mentioned earlier, this is the first time I've written an OSS library with async support.  My plan is to make all

[2016-04-04 18:33] #26 closed

[2016-04-04 18:34] darrencauthon commented on #16
I am working on this support here:  https://github.com/SparkPost/csharp-sparkpost/tree/playing_with_suppression_list

I'll be popping a pull request soon.

[2016-04-04 18:35] darrencauthon commented on #19
Should this just be fixed by uploading the svg to this repo, and changing the image link?

[2016-04-04 21:10] darrencauthon commented on #27
@martinbc Just to double-check... are you firing this from an existing .Net project?  Which version of json.net are you using?

[2016-04-05 02:28] martinbc commented on #27
It is a command line app built from scratch using VS 2013 Community.

Using the nuget package 1.0.7 the issue was solved.

Thanks!

[2016-04-05 02:28] #27 closed

[2016-04-05 13:53] darrencauthon commented on #27
Glad it helped, you are welcome!

[2016-04-05 21:46] yhuangf opened #28 "Feature request : transmission with given RFC content"
Just wondering if csharp-sparkpost can do transmission with option of "use-draft-template=true" (i.e., send email with given rfc822 content), since I am doing some email relay with relay webhook, it will be much easier to allow to send with raw rfc content. I went through the source code but seems this is not yet included?

There seems exist a java version of this function:
https://www.sparkpost.c

[2016-04-06 08:08] altozar opened #30 "Exception after sending mail"
A few seconds after successfully sending a mail the application crashes with the exception below.  It probably has to do with some sort of callback or asynchronous processing that occurs after the mail has been delivered. I have copied and pasted the sample code in the documentation - ie. not trying to do anything fancy.

![image](https://cloud.githubusercontent.com/assets/11502558/14309871/3c611e

[2016-04-06 15:02] darrencauthon commented on #28
This feature hasn't been implemented because I haven't needed it yet.  Plus I was a little confused by it in the dev documentation.  If you could provide a semi-real-world case for it, that might help.

Plus, this library has been built by SparkPost users... so you are open to make the pull request as well! :smile: It's really up to those who need or want it.  And I'd probably want it if I underst

[2016-04-06 16:27] yhuangf commented on #28
Thank for the clarification. One of the key feature of sparkpost is relay webhook (NOT event/msg webhook). When dealing with the payload from the relayed email (json content), we try to send it to the receiver but would like to have the "from" address etc, masked.

In the posted data,  most of the content has been extracted from raw rfc822 into json (the rfc822 content is also included), however a

[2016-04-11 14:08] darrencauthon commented on #30
I haven't figured it out yet.  If I had to guess right now, there's something in your request that's causing a null error on the way out.  Still investigating...

[2016-04-11 16:33] wastedige opened #31 "Nothing gets sent, no errors"
I have API keys, SPF and DKIM set up, have SparkPost 1.0.7 package from NuGet and I'm using this code to send mail:
[code]

When I send mail, I receive no error yet nothing gets sent. Doing a breakpoint for result variable suggests the following:

However I get this when I intentionally throw an exception with the result variable, underneath the send line:

[2016-04-11 16:46] coldacid opened #32 "Feature request: CSS inlining option for transmissions"

[2016-04-11 19:32] #32 closed

[2016-04-11 20:15] darrencauthon commented on #31
Hello @wastedige

Can you add the line at the bottom of this, and see if that helps?

[code]

I wonder if the ```Wait()``` method call is enough?  I just played with it a little bit in a console app, and it only seemed to send when I put that call in at the bottom.

[2016-04-11 20:43] awright18 commented on #31
Is this async code? If it is you probably need an async method modifier. Also if you are in a MVC or Web API controller you may need to inherit from AsyncController.

[2016-04-11 20:46] darrencauthon commented on #31
This is async code, it's using the standard ```HttpClient``` under the hood.  No fanciness, it's just making http calls.

I don't think you need the async modifier if you call ```Wait()```.

[2016-04-12 09:16] nickc73 commented on #31
I have the same problem. Just installed the Nuget package and created a test method, but nothing seems to be sent, but no errors are received.  Here's my code:

`
   public static void SendViaSparkPost()
        {
var transmission = new Transmission();
            transmission.Content.From.Email = "noreply@siteaddressgoeshere.com";
            transmission.Content.Subject = "Oh hey!";

[2016-04-12 11:52] darrencauthon commented on #31
@nickc73 Did you try the suggestion above? To either tack on .Wait() or check for async?

The library returns a Task, not the final result. The code still has to be executed, this is the way the .Net Async works.

[2016-04-12 12:53] nickc73 commented on #31
Ah, I had tried it - and it still didn't work - until I double checked my reports on SparkPost and spotted a mis-typed email address!  It does work! Thanks for helping.

[2016-04-12 14:13] darrencauthon commented on #31
Thank you @nickc73 , glad it works!

@wastedige I've tested the sample code from the readme in Linqpad, a brand-new console app, and... in a working application.  It all seems to be working fine, so I'm going to close this ticket.  But if you are still having problems, please feel free to post the information here and I'll do what I can to help you.

I'm pretty sure it's just a matter of either ca

[2016-04-12 14:13] #31 closed

[2016-04-12 16:47] wastedige commented on #31
@darrencauthon Thanks for following up!

When I add result.wait() under the 'send' line it just never makes it past that line. Then I tried making the method async and adding await at the beginning of send line, in which case the code goes through.

It's probably a good idea to mention this at the Readme file example :)

[2016-04-12 17:13] darrencauthon commented on #31
@wastedige You are correct, I will do so. :smile:

[2016-04-12 17:40] darrencauthon commented on #31
@wastedige Updated the readme.  Thank you for bringing this up so we can help other people using the library!

:clap: :clap: :clap:

[2016-04-12 17:54] darrencauthon commented on #16
This support has been added in the latest 1.1.0 release:  https://github.com/SparkPost/csharp-sparkpost/releases/tag/1.1.0

Pop an issue if you have any issues with it!

[2016-04-12 17:54] #16 closed

[2016-04-13 13:53] darrencauthon commented on #30
Can you try this advice here:  https://github.com/SparkPost/csharp-sparkpost#special-note-about-async

Just to double-check that it's not this issue?

[2016-04-15 16:02] LeeHester opened #34 "Transmission "Options" class doesn't have the IP_Pool property"
It seems the C# SDK is a bit out of sync with the actual API.  According to [this](https://developers.sparkpost.com/api/#/reference/transmissions), the "Options" for sending a transmission should have an "ip_pool" property.  Maybe I'm missing something here, but I can't find it.  There may be other properties that are missing, this is just the first one that is preventing me from using the SDK.

[2016-04-16 23:50] darrencauthon commented on #34
That should be a simple update to make. I'll merge and push it to nuget asap if you pop the PR

[2016-04-17 02:12] darrencauthon commented on #34
@LeeHester

Here's an example of someone adding a missed property, in the same spot even:  https://github.com/SparkPost/csharp-sparkpost/pull/33/files

If you add the string property to the ```Options``` class, it will carry over to the API call.

[2016-04-17 15:25] darrencauthon commented on #34
@LeeHester

Until a dev picks this up, you have another option with the current library.  Create a new options that inherits from ```Options```:

[code]

You can set your new options on a transmission:

[code]

That's all you should have to do, the value will carry through as ```ip_pool```.  This library is based on conventions, so it looks at the object provided to determine what to send, and how

[2016-04-17 21:01] LeeHester commented on #34
Darren, thanks for the help.  I've been able to work around it by cloning your SDK and putting a copy of your code right in my project, and adding the property to "Options" in my copy of the code.  It's not ideal, but it will work fine until this gets added.  I've been under the gun to complete my company's integration with SparkPost, so I haven't had time to make a PR for this change, and wouldn'

[2016-04-18 08:39] ManuLin opened #36 "SparkPost-API 1.1.0 Sending Transmission Fails"
I have updated the SparkPost-API to version 1.1.0 and receive the following exception when sending a transmission:

An unhandled exception of type 'System.IO.FileNotFoundException' occurred in mscorlib.dll
Additional information: Could not load file or assembly 'Newtonsoft.Json, Version=8.0.0.0,
Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The located
assembly's ma

[2016-04-19 15:26] ManuelFunciona opened #37 "List of Template from Api"
Hi people,

I'm migrating from mandrill to SparkPost

Does anyone know how to recover my templates from the Api in SparkPost?

In Mandrill there is a method called ListTemplates, but here I can not find anything.

Thank's!!!

[2016-04-19 19:16] darrencauthon commented on #37
It's not in this library yet -- someone will have to code it.

Templates could be implemented similar to #35 .

Do you need this via an API?  I thought Templates would probably be the **last** feature implemented in this library, as template management is handled very well through the SparkPost UI.

[2016-04-20 08:00] ManuelFunciona commented on #37
Thanks for the reply

I have solved making a call cURL.

I have an email delivery system and is easier to load into a combo templates and send emails loading a excel.

The example of the call if someone needs

HttpWebRequest request = (HttpWebRequest)WebRequest.Create("https://api.sparkpost.com/api/v1/templates");
        request.Headers.Add("Authorization","MY_AUTHORIZATION");
        request.Acc

[2016-04-20 17:59] sarus opened #38 "Allow use of proxy in RequestSender"
Hello,

We're porting some code that we used from Mandrill and so far everything has been a breeze.  One issue we've run into is that we need to be able to set the underlying `HttpClient` in `RequestSender` to use a proxy

[code]

Can you allow a custom HttpClientHandler to be set at the `Client` or `Transmissions` level that can be passed through to the `RequestSender` so we can modify the behavi

[2016-04-20 23:23] cpntgt commented on #36
This is not related to SparkPost. I have gotten this error before. Make sure you have the Newtonsoft.Json entry in your Web.config under the website root. What I have is the following:

      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />

[2016-04-20 23:31] cpntgt opened #39 "Emails not sent, no error"
Hi,

I have version 1.1.0 (April 12th), although I see version 1.0.2.22938 in the properties.
I have copied the example and added some changes for my requirements and emails are not being sent out. I also do not get an error. Anyone has encountered this problem or have an idea?

 public void SendEmail(string toEmail, string toName, string subject, string body, string fromName = null, string replyT

[2016-04-21 03:11] darrencauthon commented on #39
@cpntgt Have you tried the help from here in the readme?  This looks like it might be related:  https://github.com/SparkPost/csharp-sparkpost#special-note-about-async

I don't see anything in the code that forces a wait for the result.

[2016-04-21 03:11] darrencauthon commented on #36
This library also requires .Net 4.5, so I would check on that as well.

[2016-04-21 05:52] jamesoflol commented on #37
Hey Darren

I just started writing in templates support. The "Create" feature is complete. I realised I should probably ask you before I finish/polish, to check that I'm on the right track - I don't generally work with Interfaces, and the datamapping code is pretty fancy, but I think I've got it right

If you could please check it out that'd be great. Thanks.

https://github.com/jamesoflol/csharp-

[2016-04-21 11:43] darrencauthon commented on #37
@jamesoflol I think yo uare definitely on the right track.

I created a PR from your code and this codebase for checking at https://github.com/SparkPost/csharp-sparkpost/pull/40/files.  I think you'll need to try another branch to get this feature added.  Are you working on OSX or Linux with Mono?  It seems that every file you touched was changed entirely, probably via end-of-line character change

[2016-04-21 11:44] darrencauthon commented on #38
Hmm.... I think so.  Looking...

[2016-04-21 12:19] darrencauthon commented on #38
@sarus Can you check the PR I just created and check that it will work for you?

[2016-04-21 12:27] sarus commented on #38
That looks perfect.  Thank you for being so responsive.

[2016-04-21 12:31] ganeshvelanki commented on #14
@darrencauthon

Hi, I found that cc and bcc feature is not working while sending mails with templates, can you be able to check that once?

[2016-04-21 14:09] darrencauthon commented on #14
@ganeshvelanki Can you gist some example of how you are using it?  It "works for me."  :smile:

[2016-04-21 14:25] #34 closed

[2016-04-21 14:25] #38 closed

[2016-04-21 14:49] ganeshvelanki commented on #14
Here is my main() of console App

[code]

[2016-04-21 14:51] LEloffel commented on #39
Same problem, with wait(), code never returns.

[2016-04-21 14:55] LEloffel opened #43 "BCC replace TO"
Hi,

The code below should add an email address to TO field, and one to BCC, but the BCC seems to overwrite the TO field.

`            var transmission = new Transmission();

[code]

`

[2016-04-21 15:00] darrencauthon commented on #39
@LEloffel @cpntgt I have this code working in production -- it does send, and it sends as expected.

As another demo, something I do before every release: I check it against Linqpad as well, just to try it out.  It's functioning as expected

I'm not saying that this library can't be improved... but this is a case where I'd have to see the environment to diagnose and debug.  I don't think the solut

[2016-04-21 15:01] darrencauthon commented on #39
I've thought about offering non-async methods, but... this **is** a feature of .Net 4.5, and it opens up much better performance and behavior for other consumers of the library.  I don't like a bool splitting the library in half.

[2016-04-21 15:03] darrencauthon commented on #36
I'm going to close this for now... but please feel free to respond here and reopen if it is discovered to be an issue with this library.

[2016-04-21 15:03] #36 closed

[2016-04-21 15:36] cpntgt commented on #39
If we forget the async function call, I also tried by simply putting the .Wait(), like stated on the homepage. In the sample code the line is commented out, but if you change it back can you send an email?

client.Transmissions.Send(transmission).Wait();
// Task result = SendTransmission(transmission);

This should work, no?

[2016-04-21 15:41] darrencauthon commented on #39
I think it should work... and it's worked for me.

In the cases where it hasn't, it's always been something external from the library.  There's nothing to change in the library itself.  It's just using ```HttpClient``` to return the asynchronous response.

[2016-04-21 15:52] darrencauthon commented on #14
@ganeshvelanki

I cannot reproduce this:

![fullscreen_042116_105219_am](https://cloud.githubusercontent.com/assets/148768/14715644/1f502d88-07af-11e6-843a-24d64423cdc4.jpg)

[2016-04-21 17:34] ganeshvelanki commented on #14
Yeah, that is acceptable, in fact CC works like above, but have you tried using templateId

`transmission.Content.TemplateId = "sampleTemplate";`

that is not working as expected

[2016-04-21 17:34] darrencauthon commented on #38
np @sarus glad to help.  I normally wouldn't jump on this so quickly, but... it was an interesting problem to solve. :smile:

In a few minutes, it should appear on Nuget as 1.1.1

https://www.nuget.org/packages/SparkPost/1.1.1

[2016-04-21 17:35] darrencauthon commented on #34
@LeeHester You should be able to get this property on nuget in a few minutes:

https://www.nuget.org/packages/SparkPost/1.1.1

[2016-04-21 17:42] darrencauthon commented on #14
@ganeshvelanki I just tried it, and I got the emails as expected:

![fullscreen_042116_124118_pm](https://cloud.githubusercontent.com/assets/148768/14718797/58a3f5ce-07be-11e6-8cbd-fea934308eda.jpg)

[2016-04-21 17:45] darrencauthon commented on #14
@ganeshvelanki If it helps... this library treats ```To``` and ```BCC``` **exactly the same**.

SparkPost gives us BCC with its default behavior of sending the email to every recipient separately.  The recipient won't know that they were BCC'd on the email, but... given the SparkPost docs as of weeks ago, I couldn't find any way to make that work.  I don't know if it's possible, or... if anybody w

[2016-04-21 17:48] darrencauthon commented on #43
I've been discussing this on #14.  I cannot reproduce this issue at all.  I've sent emails, templates, etc.... I get both emails.

Plus, like I mentioned in the other thread, ```To``` and ```BCC``` are treated the same.  The only change in behavior is for ```CC```.

![fullscreen_042116_124118_pm](https://cloud.githubusercontent.com/assets/148768/14718957/223c8a68-07bf-11e6-86b3-0360a32cdc8a.jpg)

[2016-04-21 17:52] darrencauthon commented on #39
I just released version 1.1.1.  I don't think it would change anything regarding this ticket, but it would be a good chance to reopen.

I'm going to close this ticket just because I cannot reproduce any issues at all.  The library works as expected, through multiple avenues (web, linqpad, windows service).  I think this issue (and many others) are all tied to misunderstandings regarding ```Async``

[2016-04-21 17:52] #39 closed

[2016-04-21 17:53] darrencauthon commented on #30
Closing just because I haven't heard back.  My time is worth... something. :tongue: :watch: :hourglass_flowing_sand:

[2016-04-21 18:31] sarus commented on #38
Thanks again!  Already making use of it.

[2016-04-22 00:22] cpntgt commented on #39
This is still not working. I updated to the latest version for today (1.1.0) and when I add the .Wait() my Website just waits forever, no exception occurs. I really doubt that I am the only one with this problem.

You said that you tested on a MVC Website. I have the target Framework 4.5 and the System.Net.Http is version (v4.0.30319), is that what you have? What other references are critical for

[2016-04-22 05:00] darrencauthon commented on #39
@cpntgt

It's not the library, it has to be in the way you are using it.

I said so because I have.

I don't fire my emails in an Action so I'm not familiar... but it takes no time to create a web application, so let's see what happens.

![fullscreen_042116_115740_pm](https://cloud.githubusercontent.com/assets/148768/14732104/d60651e8-081c-11e6-92f8-f9c79bb70b21.jpg)

The email sent, but the web r

[2016-04-22 05:04] darrencauthon commented on #39
Because .Net 4.5 has a method for making these web calls async.  It improves performance and load considerably.  If this library didn't use it, it would have a negative effect on all users... and why?  Just to make it easier for C# devs who don't know about async/await?

Plus, I'm using the 4.5 ```HttpClient``` which does not have a sync method (as far as I know).  I could find a way to make it go

[2016-04-22 05:44] jamesoflol commented on #37
Hey Darren,

Thanks very much for the feedback.

I feel like a fair bozo for not checking the adds/deletes in Github. They looked fine in VS. I'm using VS 2015 on Win10. Turns out my VS was turning all line endings in to CRLF, and as you said, gratuitously doing it to every file I touched. All existing EOL seem to be LF.

I've made a new branch and copied the changes in, in order to prevent mucho

[2016-04-22 06:05] jamesoflol commented on #37
Oh and one other thing - There was a message saying there are conflicts, even though it's all additions and no deletes... Is this because your repo is 10 commits ahead of mine? Should I be pulling in your latest changes to my branch immediately before making a pull request back to you?

[2016-04-22 06:39] altozar commented on #30
Hi Darren,
of course... We figured out this was due to the reasons explained in the
link I sent you on slack. Thanks for the help

On Thursday, April 21, 2016, Darren Cauthon <notifications@github.com>
wrote:

[2016-04-22 12:47] cpntgt commented on #39
I found the issue. SparkPost does not accept that you send an email from an address that is not from your sending domain. I was using the same address as the reply-to address which most providers will let you. Documentation is found [here](https://support.sparkpost.com/customer/portal/articles/1931660-why-does-my-from-email-address-domain-and-my-subdomain-have-to-match-):

[2016-04-22 12:49] cpntgt commented on #39
I was not sending the emails directly from an action. What I meant is that this was used in a Website context and not a desktop application. In the end, we are simply calling an API but the context is not the same.

Thanks Darren!

[2016-04-22 12:58] cpntgt commented on #39
Right, but users of the library must put the async/await in place in their implementation to make it work. This is not convenient. You should make the SendTransmisson method synchronous and add a SendTransmissionAsync or change the method to Send(Transmission transmission, bool async = false).

[2016-04-22 13:59] darrencauthon commented on #39
@cpntgt

I actually think it is very convenient; it's the web that's not convenient.  We want to make our request and get an immediate response -- right here, right now, right in this current thread, damn the rest of the world.  Give me what I want right now.  But darn it, reality doesn't adjust to our desires.  The reality of this situation is that we're making our request in a process, and our r

[2016-04-22 14:04] darrencauthon commented on #39
@cpntgt

The last thing I'd ever want to do to a library is to split its public API down the middle with a boolean.  Any method that takes a boolean as its last argument is doomed to fail, and an API that has two copies of each method is in bad shape.

If you want this behavior, though, I can see one good way to do it in this library.  Replace ```RequestSender```, which returns an asynchronous ```

[2016-04-22 14:07] darrencauthon commented on #39
I have to note, though... if a synchronous one is built with a ```Wait()``` call, I think we'll start to have issues like the one with the MVC action above.

It seems to me that if I call ```Wait()``` inside the action, it should wait until the request is done and then continue.  But for some reason, the MVC action just hangs on the result.  Calling ```Wait()``` inside the library instead of the a

[2016-04-22 21:17] darrencauthon commented on #37
Just git pull origin master into your branch... I bet the merge conflict is in the project file, just include all lines. 
Or if you want, I can resolve it on this side.... I'll just need to create a new branch before we merge. 
Get Outlook for iOS

On Thu, Apr 21, 2016 at 11:05 PM -0700, "jamesoflol" <notifications@github.com> wrote:

Oh and one other thing - There was a message saying there are c

[2016-04-24 04:35] jamesoflol commented on #37
Nah it's cool - ill merge and fix on monday. Thanks

On Fri, Apr 22, 2016 at 2:17 PM -0700, "Darren Cauthon" <notifications@github.com<mailto:notifications@github.com>> wrote:

Just git pull origin master into your branch... I bet the merge conflict is in the project file, just include all lines.
Or if you want, I can resolve it on this side.... I'll just need to create a new branch before we merg

[2016-04-24 19:05] ZA1 opened #45 "Sub Accounts"
I need the ability to work with subaccounts. I realize that you can do it now with the custom settings on the client, but it would be nice if it could be integrated.

I am happy to do the changes and submit a PR if this is not already in the works.

[2016-04-25 06:43] ManuLin opened #46 "RuntimeBinderException"
I am receiving a number of RuntimeBinderExceptions upon sending an e-mail via "Transmission.Send(...)":

Exception thrown: 'Microsoft.CSharp.RuntimeBinder.RuntimeBinderException' in Microsoft.CSharp.dll
Additional information: Newtonsoft.Json.Linq.JObject does not contain a definition for results.
Additional information: Newtonsoft.Json.Linq.JObject does not contain a definition for id.
Additional

[2016-04-25 12:16] darrencauthon commented on #46
Can you send a code sample? Just remove your API key.

[2016-04-25 12:27] ManuLin commented on #46
``// Create API client
            var client = new Client(apiKey);

            // Construct transmission object
            var transmission = new Transmission();
            transmission.Content.TemplateId = "templateId";
            transmission.Content.Subject = "Subject";
            transmission.Recipients.Add(new Recipient { Address = new Address { Email = receiver } });

transmission.Subs

[2016-04-25 14:07] darrencauthon commented on #45
It's not on my list of things to do, I've just been coding things as I've needed them.  It would be great if you could add this feature!

If you want a template to follow, I just merged in support for webhooks (#35).  I designed this library to follow conventions, which should hopefully make implementing the rest of the SparkPost API easier.  It should just be a matter of matching up their data an

[2016-04-25 14:08] darrencauthon commented on #45
I appreciate any support, even if it's not the full subaccounts implementation.  Let me know if you have any questions!

[2016-04-25 16:29] darrencauthon commented on #46
With this line:

[code]

I'm not familiar with this method on Task<T>... what is it meant to do?

If I comment out that method call and run it as-is (but changing my template to one that I know works), the email is fired, I get a success message, and it appears in my inbox.

[2016-04-26 12:03] LEloffel commented on #43
Hi,

I did some further testing and I'm seeing the following:
1. if no HeaderTo is set, on any To, CC, or BCC address:
  - the To email received looks ok
  -  the CC email received has the CC email address in the TO field, and obviously the CC fields of email
 - the BCC email received has the BCC email address in the TO field. CC email is fine.

So CC fields seems fine, but in CC and BCC email cop

[2016-04-26 14:49] yepher opened #48 "Odd JSON encoding"
While working with a user [here](https://sparkpost-community.slack.com/archives/csharp/p1461681177000126) I received an example JSON output from him. He is running: `<package id="SparkPost" version="1.2.0" targetFramework="net46" />`

This is the JSON I received:
[code]

This output threw me for a moment because several fields are not part of the `transmission` post. For example:

[code]

I am als

[2016-04-26 18:10] waglons commented on #30
We're receiving a very similar error as to what was described above.  The email sends successfully but immediately after a System.NullReferenceException is raised and the w3wp.exe process is terminated.

The code we're using is very similar to the sample code in the documentation and are working with version 1.2.0.

[2016-04-26 18:14] darrencauthon commented on #30
@waglons

Would it be possible to get a copy of the entire project or solution?

I ask not because I've asked for code samples from people, but... the code samples always "work for me."

There's something deeper, but I'm guessing as to what it can be.

Another option is... this library is relatively small.  Could you bring it into your solution raw, run it through a debugger, and tell me exactly w

[2016-04-26 18:15] darrencauthon commented on #30
@waglons Here is the code sample of the person that figured it out:

[code]

[2016-04-26 18:15] darrencauthon commented on #30
^^^ I can't vouch for that code, but it might provide some clue.

[2016-04-26 20:10] waglons commented on #30
The code was helpful.  While putting together a solution for you to review I noticed an issue with my asynchronous call and was able to correct it.

Thanks for your help.

[2016-04-26 20:29] darrencauthon commented on #30
Glad it helped!

It might help me... I think I might put in a sync mode, hidden behind the ```Task<T>``` contract.

[2016-04-26 20:29] #30 closed

[2016-04-27 09:39] babakarj opened #49 "Defining SubstitutionData all in capital letters is not working"
Actually, I'm not sure if this is a bug or a rule in your system, but defining _SubstitutionData_ in capital is not working and sends email with no SubstitutionData data.
`transmission.SubstitutionData.Add("NAME", "a-name");`
And in Template markup:
`<div>{{NAME}}</div>`
Changing both in lower case (_name_) makes things working.

[2016-04-27 11:42] pawelpawlow opened #50 "Provide Webhook event classes to ease callback handling"
It would be nice to have C# classes of the event data that are posted as JSON by a Webhook callback. We can then use them to deserialize the payload of a Webhook callback.

[2016-04-27 13:54] #49 closed

[2016-04-27 14:33] darrencauthon commented on #50
It would be nice if someone could make simple POCOs that we could use in a MVC action, I totally agree.

Who's up for this?

[2016-04-27 15:04] darrencauthon commented on #49
@babakarj Thanks for bringing this up.  This has been resolved in 1.3.0.

[2016-04-27 15:05] darrencauthon commented on #39
@cpntgt @LEloffel Version 1.3.0 has just been released with sync support.

Details here:  https://github.com/SparkPost/csharp-sparkpost#special-note-about-async

[2016-04-27 15:06] darrencauthon commented on #31
@wastedige Version 1.3.0 has just been released with sync support.

Details here: https://github.com/SparkPost/csharp-sparkpost#special-note-about-async

[2016-04-27 15:06] darrencauthon commented on #30
@waglons @altozar Version 1.3.0 has just been released with sync support.

Details here: https://github.com/SparkPost/csharp-sparkpost#special-note-about-async

[2016-04-27 15:46] if2m commented on #46
Same exception here!

`[Microsoft.CSharp.RuntimeBinder.RuntimeBinderException] = {"'Newtonsoft.Json.Linq.JObject' does not contain a definition for 'results'"}`

My code (using SparkPost 1.3.0 and Newtonsoft.Json 6.0.5) :
[code]

Looking at Trasmissions.cs:

[code]

Does "JsonConvert.DeserializeObject<dynamic>(response.Content).results" cause the problem AFTER "requestSender.Send(request)" trigger

[2016-04-27 16:14] ZA1 commented on #45
I have added a PR for subaccounts: #53

[2016-04-27 16:58] darrencauthon commented on #46
@if2m

![screenshot_042716_115715_am](https://cloud.githubusercontent.com/assets/148768/14860590/2fed6948-0c6f-11e6-9af9-a16d288a3332.jpg)

Can you try including the SparkPost code as a separate project in your solution, and then debug it to try to get the answer?

Plus, I just released 1.3.0, with sync support.  Do you want to try going with sync mode to see if that resolves your problem?  Instru

[2016-04-27 17:10] LeeHester opened #54 "Substitution Data passed at the recipient level is not correctly passed to SparkPost API"
It looks like you guys broke this at both the transmission level, and the recipient level.  It seems you have fixed it in version 1.3.0, but only at the transmission level. The user level is still broken.

[2016-04-27 17:35] if2m commented on #46
The web call is not causing the problem, I agree. JsonConvert.DeserializeObject could be: property ".results" resolving at runtime may cause the exception?

[2016-04-27 17:55] darrencauthon commented on #46
@if2m It could be.  I'm assuming that a 200 response from SparkPost will return that information, but what if it doesn't?

I'll tell you what:  We can put some additional checks around it.  I'll continue to report back what I got as ```Content```

[2016-04-27 18:53] darrencauthon commented on #54
@LeeHester What is the user level? Do you have an example of that?

In the meantime, if you stick with lower-case and snake case'd values, it should work fine.

[2016-04-27 19:43] darrencauthon commented on #54
Just need a filter for this:  https://github.com/SparkPost/csharp-sparkpost/blob/768a282180dff96fe338c8029bbca45fd2eadd6f/src/SparkPost/Recipient.cs#L19

[2016-04-27 19:58] LeeHester commented on #54
Darren, do you work for SparkPost?

[2016-04-27 19:59] darrencauthon commented on #54
@LeeHester Nope :)

[2016-04-27 20:24] LeeHester commented on #54
Ok, I assumed you did because you were the largest contributor to their "official" C# SDK. In release 1.2.0, a bug was introduced where I believe the text case (snake_case, PascalCase, camelCase, etc) was changed with how anyonymous objects are serialized when when sending substitution data to SparkPost.  There are two places to set substitution data: on the transmission itself, and on the recipie

[2016-04-27 20:47] darrencauthon commented on #54
@LeeHester I'm sorry for the problem you encountered.  The problem was introduced by me... I switched to using a convention to convert this library's PascalCase objects to the snake_case keys accepted by the API.  This rule got applied to the substitution data in 1.2.0.  As soon as someone reported it to me, I had the fix out.  And now that you told me about the other bit of substitution data, I'l

[2016-04-27 20:49] LeeHester commented on #54
Thanks for the lecture. I was just reporting a bug.

[2016-04-27 20:51] darrencauthon commented on #54
Don't close it yet, the fix hasn't been applied yet. :smile:

[2016-04-28 12:15] darrencauthon commented on #54
@LeeHester

You reported the bug, yes... but then took some shots at the library.  Unstable, untested, etc.

Just to be clear, the library has never done an anything-to-camel-case, and never will.  The everything-to-snake-case conversion was real, an accident, and has been fixed and covered by unit tests.  And based on this ticket I've altered my integration tests to cover PascalCase, and the emai

[2016-04-28 12:15] #54 closed

[2016-04-28 12:15] darrencauthon commented on #54
Thank you for reporting the issue! :smile:

[2016-04-29 11:43] darrencauthon commented on #45
This was resolved by #53 and deployed to nuget as version 1.4.0.

[2016-04-29 11:43] #45 closed

[2016-04-29 11:55] ManuelFunciona opened #58 "HTML code in variable"
Hi people,

I have a problem when I want replace a value containing html code in a variable of SparkPost.

Example code in C#:
string variable = "Hello<<newline>>World";
...
transmission.SubstitutionData["myVariable"] = variable;

Example code in HTML (email):
       {{ myVariable }}

Result:
 Hello<<newline>>World

But I want this result:

Hello
World

Anyone know a solution?

Thanks!!!!

[2016-04-29 12:12] darrencauthon commented on #58
Try

[code]

I believe that's the way to show the raw value.

[2016-04-29 12:34] rdawemsys commented on #58
That's right, use triple-curlies if you do not want the value to be HTML-escaped. Double-curlies do automatic HTML escaping. There is some more detail about this in https://developers.sparkpost.com/api/#/introduction/substitutions-reference

[2016-04-29 13:02] ManuelFunciona commented on #58
Perfect!!!

{{{ myvariable }}} is the solution.

Thanks for the responses

[2016-04-29 13:45] darrencauthon commented on #58
No problem.

[2016-04-29 13:45] #58 closed

[2016-05-02 07:38] kirilsi opened #60 "Feature: Message Events API support"
Requirements:
Reading bounces via Message Events API.
Simple query support (search for message event data by event type and date range).
Results paging support (results per page, page number query parameters).

This feature is already under development.
I will also try to include support for all other event types and all query parameters for Message Events API.
I will create a Pull Request when it

[2016-05-02 13:30] if2m commented on #46
Issue found: the Json DLL I included was compiled for .NET 3.5 and did not support "dynamic". This code works:

[code]
See: http://stackoverflow.com/questions/13683757/newtonsoft-json-dynamic-objects

[2016-05-02 13:50] darrencauthon commented on #46
Ah, that's awesome, @if2m , thank you very much!

I wonder... perhaps I could switch this code to deserialize to a string object dictionary?  It's something I was considering, anyway, as they seem to be easier to manage than the dynamic.  I want to get the receiving of data to work via conventions as well, as lines like this are just begging to be removed:

[code]

The ```DataMapper``` class alred

[2016-05-02 13:56] darrencauthon commented on #60
That would be great, thank you!!!

[2016-05-10 17:20] gajanan414 commented on #43
Hi ,

This is my sample code i am not able to append cc using a template
can u help me out

**here is my Code : **

 class Program
    {
        static void Main(string[] args)
        {
            MainAsync().Wait();
        }

        private static async Task<bool> MainAsync()
        {
            var apiKey = string.Empty;
            var client = new Client(apiKey);
            try

[2016-05-10 17:37] darrencauthon commented on #43
@gajanan414 I hope you don't mind, but I edited your comment to put in the three tildes before and after the code.

Those tildes tell Github that it's a code block, and Github will show the code accordingly.

[2016-05-11 11:40] hymnzzy opened #65 "Adding CC & BCC using REST/POST and Template"
Hi,

I can't see any documentation regarding adding CC and BCC fields to mails,, while using Transmission REST endpoint and template_id.

All I can see is that to add CC and BCC, 'content' shouldn't contain 'template_id' field in the JSON.

Can someone guide me to it?

I've used SparkPost C# but the delivery rate is not consistent. Some calls get dropped (I can't understand why). So my only resolu

[2016-05-11 11:57] spoof commented on #48
I think it's a common issue https://github.com/SparkPost/python-sparkpost/issues/114

[2016-05-11 14:08] darrencauthon commented on #60
This should be available with version 1.5.0, thanks again!

[2016-05-11 14:08] #60 closed

[2016-05-11 14:11] darrencauthon commented on #48
Thank you @spoof, that helps greatly!

I think in our case I have to control the encoding elsewhere. I don't think it's a result of the json lib but of the web call.  But I'm still investigating.   Your note gave me an idea for a good test case.

[2016-05-12 19:50] richleland commented on #19
Pretty sure this is done. 🚁

[2016-05-12 21:30] #19 closed

[2016-05-18 13:55] csprofiles-sowens opened #76 "nuget 1.6.0"
When I try downloading the 1.6.0 version of sparkpost library via nuget it gets the nupkg file, but it's not actually downloading and referencing the library.  I had no problems with the last version I was coding against (1.4.0).  Am I missing something?

[2016-05-18 14:01] darrencauthon commented on #76
Oh, I just tried and noticed a similar problem... I'll have a 1.6.1 up shortly.

[2016-05-19 20:25] darrencauthon commented on #76
@csprofiles-sowens This should be resolved with 1.6.2.  You can pull it from Nuget now.

Sorry for the issue! :disappointed:

[2016-05-19 20:25] #76 closed

[2016-05-23 13:34] csprofiles-sowens commented on #76
No problems downloading the latest version.  Thanks for all the hard work.

[2016-05-23 13:36] darrencauthon commented on #76
@csprofiles-sowens np.  Thanks for reporting, and let us know if anything else comes up.

[2016-05-24 06:43] davidetaddeucci opened #79 "ASP.Net Core 1.0 compatibility"
When a release version compatible with ASP.Net Core 1.0?
Thanks,
D.

[2016-05-24 11:27] darrencauthon commented on #79
How would this library have to be changed to do this?

If you know, want to open a pull request?

[2016-05-27 10:09] pclancy opened #81 "Date Encoding Issue"
When using the suppression list API call I'm getting a date/time JSON encoding issue.

`.Suppressions.List(new SuppressionsQuery
            {
                From = DateTime.Today.AddMonths(-1),
                To = DateTime.Today,
                Limit = 100
            }))`

Response: 400 Bad Request.

`Content: {"errors":[{"param":"to","message":"to must be in the format YYYY-MM-DDTHH:mm:ssZ",

[2016-05-27 11:08] darrencauthon commented on #81
Hmm, no, I thought this was already handled. I'll figure it out, thank you for reporting!

[2016-05-27 12:21] darrencauthon commented on #81
Ok, I looked into this... I think this might be an issue better addressed in the SparkPost API.  I'll post a message to them.

This library converts ```DateTime``` to ```yyyy-MM-ddTHH:mm```.  I can't remember why, but this was the date formatting we saw in the docs for whatever features we were working on.  That was a common way to process datetimes, so we went with it.

However, that formatting d

[2016-05-27 12:23] darrencauthon commented on #81
Note to @richleland @yepher ^^^

[2016-05-27 12:56] darrencauthon commented on #81
@pclancy As a workaround, you can use an anonymous type and format the date yourself.  Like this:

[code]

[2016-06-01 17:06] trinathm commented on #43
Any update on this issue. I am still facing the CC issue. Users given in CC are receiving the emails as CC.

[2016-06-01 17:09] trinathm commented on #43
@darrencauthon can you share the sample code you have used to test CC and BCC for sending emails using templates. That may help us to make sure if we making any mistakes.

[2016-06-01 17:40] darrencauthon commented on #43
@trinathm I'll put something together to show how I do it.

But I have to say:  I don't use BCC, because BCC is irrelevant to email services like SparkPost.   I've probably already said this above or in other tickets, but every "To" recipient is the equivalent of a "BCC" because SparkPost sends separate emails to each recipient.

SparkPost is not like Outlook where you put five people in the "To"

[2016-06-01 17:41] darrencauthon commented on #43
Actually, @trinathm , I think someone has already done this.  Check out these samples from @ewandennis :  https://github.com/SparkPost/csharp-sparkpost/tree/master/examples

[2016-06-01 17:43] darrencauthon commented on #43
I'd read all of the code that @ewandennis , but it looks like this is all a BCC is?  Just changing the header-to?  Hmm....

[code]

[2016-06-01 19:04] trinathm commented on #43
@darrencauthon I totally understand that part. Lets not consider BCC into this for sometime. The sample shared by @ewandennis is not using templates for sending emails with CC. Sending email using Templates and CC is not working. No where I can see that working examples

It would be greatfull, If I can get working examples of sending email with templates and CC.

[2016-06-01 19:07] trinathm commented on #43
When we try to send emails using templates and Recipients in CC, Recipients in CC are not receiving the emails, so that was the reason I am asking for some working sample

[2016-06-11 07:00] stevetapley opened #91 "How to send attachments using a stored template"
Hi,
I'm trying to send an email with an attachment using a template that I have stored in my SparkPost account.  I've taken a look at https://www.sparkpost.com/blog/advanced-email-templates, but its not really giving me much help, I'm afraid.

Does anyone have any sample code for how this can be done?

Thanks,
Steve

[2016-06-12 02:19] darrencauthon commented on #91
@stevetapley I had the same issue... and... I don't think it's possible.  I do not believe SparkPost supports attachments on a template email.

You'll have to ask SparkPost why.  I did, and they gave me some reasons why, but I can't remember them.

I came back to my company with this fact, and I was able to talk them out of the attachment.  So SparkPost not supporting this actually helped us, as i

[2016-06-12 02:22] darrencauthon commented on #91
Maybe @richleland or @aydrian have input on this?

I'm going to close this ticket, @stevetapley.  Not because I don't want to help, but I just don't think this is a resolvable ticket.  We can still comment on it in this thread, in case someone else searches for this issue.

[2016-06-12 02:23] darrencauthon commented on #91
@stevetapley Oh, one last thing:  Someone on SparkPost's slack channel had a potential solution for me.  It wasn't sending an attachment the "regular" way, but another way that they thought I should try.  I was going to, but by then my biz had decided not to use an attachment at all.

[2016-06-12 02:23] #91 closed

[2016-06-12 03:22] stevetapley commented on #91
@darrencauthon Thanks for the insight.  I too could use a link and get them to download the attachment - its not ideal but it might have to do.   The other thing I considered was just not using a template, and building the HTML message body in code - which isn't particularly ideal either :(

Coming from Mandrill, this is an area that definitely could be improved.

Anyway, thanks for your help.  I'

[2016-06-12 16:33] darrencauthon commented on #91
@stevetapley Let me know if anything changes. I almost wonder if this library should throw in these circumstances, as we know it's not going to work... It's just going to fail silently and more devs will be confused.

[2016-06-14 19:10] JoseAntonioTorresEspinoza opened #92 "Get MessageEvents from a Transmission"
I send a transmission successfully:

public static void Transmissions_SendTemplateEmail()
        {
            var transmission = new Transmission();

            transmission.Id = "123456789";
            transmission.CampaignId = "Suscripcion";
            transmission.Content.TemplateId = "end-subscription";
            transmission.Content.From.Email = "no_reply@mydomain.com.mx";

[2016-06-14 23:21] #92 closed

[2016-06-14 23:26] JoseAntonioTorresEspinoza opened #93 "MessageEvents quering Issue"
I have an error calling the next method:

**Error catched: One or multiple errors have occurred.**

public void Events()
{
            var client = new Client("MY_API_KEY");

            var query = new MessageEventsQuery();
            query.Recipients = new List<string>() { "mail@gmail.com" };
            query.TransmissionIds = new List<string>(){ "00000000000000000" };
            query.From =

[2016-06-15 03:56] darrencauthon commented on #79
I'm going to close this ticket for now.  I'm open to any suggestions and help on this, but I probably won't do it on my own.

If anybody wants to pick it up, note it here and we can reopen.

[2016-06-15 03:56] darrencauthon commented on #93
What error are you getting?

[2016-06-15 14:02] JoseAntonioTorresEspinoza commented on #93
![message_events_list](https://cloud.githubusercontent.com/assets/4520313/16082602/a4b46aea-32d7-11e6-8f56-af5cbf0c9afb.png)

[2016-06-16 03:26] darrencauthon commented on #93
The first thing I would try is removing the date filters. Does that fix the error?

[2016-06-16 14:14] JoseAntonioTorresEspinoza commented on #93
I removed the data filters but I still getting the error.
![message_envents_list_2](https://cloud.githubusercontent.com/assets/4520313/16119785/a0ac0bee-33a2-11e6-826f-7886418326c3.png)
![message_envents_list_3](https://cloud.githubusercontent.com/assets/4520313/16119784/a0a8e22a-33a2-11e6-85f1-8a43c2d53175.png)

[2016-06-18 19:35] darrencauthon commented on #93
Just getting back from vacation...

I asked you to look at the date filters because I've seen discrepancies between the format of date/times in the SparkPost HTTP API.  Just a shot in the dark, but that doesn't seem to be a problem.

I tried my own API key, firing a transmission and then querying for the message events.  I had no problem using the same query parameters.   The screenshot is below.

[2016-06-18 19:36] darrencauthon commented on #93
If you can provide more information regarding this exception, please feel free to reopen this issue.  Or if you come to a resolution, please share here in case someone else searches for the same issue.

I'm going to close this ticket only because the API seems to be working ok and I can't reproduce the issue.

[2016-06-18 19:36] #93 closed

[2016-06-21 14:36] JoseAntonioTorresEspinoza commented on #93
Sorry I read **data** filters, but I follow your example and is the same Error. I cant get Message Events of a transmission, the InnerException is the next:
![message_envents_list_4](https://cloud.githubusercontent.com/assets/4520313/16232891/e4bdde14-3791-11e6-99f7-f054506e9392.png)

[2016-06-21 14:41] csprofiles-sowens commented on #93
Try checking your api key and the permissions assigned to it.  You're getting a 403 forbidden error indicating that one or both of these is incorrect.

[2016-06-21 15:20] JoseAntonioTorresEspinoza commented on #93
Thank you csprofiles-sowens that is the answer. I didn't know that the ApiKey had permissions to assign to it. Sorry darrentcauthon, that was not a API issue.

[2016-06-21 15:24] darrencauthon commented on #93
No problem @JoseAntonioTorresEspinoza .  Thanks @csprofiles-sowens

[2016-07-01 15:34] darrencauthon commented on #79
Ok, I've been looking at dotnetcore for another project, and... I think this is doable.  Simple enough that I'd do it.

[2016-07-29 01:49] SMPSLLC opened #102 "Create New Template C# & AJAX"
Always i get the 422 Error Message :(
This is a Model:
`    public class Templates
    {
        public Dictionary<string, object> results { get; set; }
    }`

AJAX:
`$.ajax({
                url: "/CreateTemplate",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    "results": {

[2016-07-29 13:43] darrencauthon commented on #102
This does not seem to be an issue with this library.  It looks like you are coding it by hand.  You might try the csharp channel on the SparkPost slack for help on this.

[2016-07-29 13:43] #102 closed

[2016-08-23 20:24] gbronzer commented on #50
Is there a reason ZA1's classes haven't been merged into the master? It's exactly what I need but I was hoping to avoid pulling and compiling a separate branch.

Thanks

[2016-09-12 11:45] ppreget commented on #79
nice one, will be interested in that

[2016-09-15 02:35] Jetski5822 opened #104 "Is Alive check"
Hey - Is there an Is Alive check somewhere? an end point I can ping to check to see if the service is up and kicking with the valid APIKey etc?

[2016-09-15 02:40] Jetski5822 commented on #104
Maybe a call to this endpoint https://developers.sparkpost.com/api/account would be enough

[2016-09-15 03:27] darrencauthon commented on #104
Hmm... I like the idea, but I'm not sure how we could provide a check that would work for all.

Like this check against that endpoint, I checked the API permissions and it was on this list:

![screenshot_091416_102712_pm](https://cloud.githubusercontent.com/assets/148768/18537331/6376f15c-7aca-11e6-884d-aa94d6dd3483.jpg)

I set up an API key for production that does not allow access to Account, so

[2016-09-15 03:29] darrencauthon commented on #104
But thinking aloud, you've given me an idea.  Why don't we had support in the library that checks the SparkPost status pages?  We couldn't use this method to check for an individual account, but we could check for the status of the overall system.  I don't know how useful that would be for users, but... that never stopped me from programming anything. :tongue:

[2016-09-15 03:40] darrencauthon commented on #4
This would be great to do... just not going to do it right now. :smile:

[2016-09-15 03:40] #4 closed

[2016-09-15 03:56] darrencauthon commented on #37
Why, I believe this is done! :smile:

[2016-09-15 03:56] #37 closed

[2016-09-15 03:58] darrencauthon commented on #65
I think this might be related to #43

[2016-09-15 04:02] darrencauthon commented on #50
@gbronzer I just asked @ZA1 about it... if someone has used this code, I say why not?

I'm going to close this ticket as #70 is the answer to this ticket.  If it's not, we can start another solution and reference this ticket again.

[2016-09-15 04:02] #50 closed

[2016-09-30 12:52] clashvk opened #105 "Cannot use await client.RecipientLists.Retrieve("myList")"
It throws up an exception on the RetrieveRecipientListsResponse class.
`

`

[2016-10-01 14:38] darrencauthon commented on #105
Hmm... I'll take a look this weekend.  Thanks for reporting!

[2016-10-03 02:30] darrencauthon commented on #105
![screenshot_100216_093035_pm](https://cloud.githubusercontent.com/assets/148768/19026103/7517e2ec-88e7-11e6-9991-a435c80b4fe3.jpg)

[2016-10-04 02:29] #105 closed

[2016-10-04 05:33] clashvk commented on #105
Thanks darren, nuget package good to go ?

[2016-10-04 12:49] darrencauthon commented on #105
@clashvk Just released here:  https://github.com/darrencauthon/csharp-sparkpost/releases/tag/1.9.2

Can you try it out and let me know how it works for you?

[2016-10-04 14:02] darrencauthon opened #108 "Use SpecFlow to provide integration testing for all API calls"
The SpecFlow project has been started.  Now it's a matter of writing the specs.

I plan to use my personal account with my personal API key to run these specs.  If they work out, I'll hook them to the CI server.  The only pain point with this idea is that I'll get a bunch of emails, but... that's ok.

[2016-10-05 07:01] clashvk commented on #105
I have tested it and it can retrieve the list. I can create a new list and add a recipient to it and it does show up on sparkpost, but

. It shows up on the list on code. Is there a save list method to invoke ?

[code]

[2016-10-05 19:21] clashvk opened #110 "Add Update method to RecipientLists.cs"
In Reference to #105, Sparkpost has an update method for [recipientList](https://developers.sparkpost.com/api/recipient-lists.html#recipient-lists-update-put). Please add it to the RecipientLists.cs.

[code]

[2016-10-06 13:52] darrencauthon commented on #110
That shouldn't be difficult.

I wish they had a way to make updates to the list without updating the entire list.

[2016-10-07 11:43] clashvk commented on #110
True.

[2016-10-07 14:38] Evengard opened #111 "Header problem on Mono"
This library worked like a charm under Windows and .NET 4.5, but when trying to run the same app under Mono, it crashed somewhere inside the sending logic with a System.FormatException with this stacktrace:

`[System.FormatException]: One of the identified items was in an invalid format.
  at System.Net.Http.Headers.HttpHeaders.AddInternal (System.String name, System.Collections.Generic.IEnumerabl

[2016-10-07 14:56] darrencauthon commented on #111
@Evengard Hmmmmm..... the unit tests in CI are running against Mono. I have some integration tests started that call this method, so perhaps that will help to diagnose and fix.

In the meantime, can you try switching its mode from async to sync?  It's something like:

[code]

If you switch to this mode, there is no need for the ```Wait()```

[2016-10-07 15:00] Evengard commented on #111
I tried both modes. The problem is exactly the same.

[2016-10-07 15:01] darrencauthon commented on #111
Well fiddlesticks. 
When I check the integration tests in, I'll see what happens. Thank you for reporting. 

Get Outlook for iOS

On Fri, Oct 7, 2016 at 10:00 AM -0500, "Evengard" <notifications@github.com> wrote:

I tried both modes. The problem is exactly the same.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-10-07 15:33] Evengard commented on #111
If it matters, Mono is running under Linux x64 (debian, Xamarin packages), versions 4.4.2 and 4.6.1 affected.

[2016-10-07 16:17] darrencauthon commented on #111
Thank you @evengard. I don't know what Travis uses by default but I'll try it there first. If it doesn't fail there I'll try running the tests thru docker.

[2016-10-07 20:24] Evengard commented on #111
After all the original problem was from my side - the api key was somehow null in the Mono config, that was the cause of this error. But the problem is that fixing it didn't helped.

The new stacktrace is even more weird than the previous. `[System.MissingMethodException]: Method 'System.Net.WebHeaderCollection.AddValue'; not found.` somewhere in the internals. What might be the cause of that I ha

[2016-10-08 09:56] clashvk commented on #110
Hi darren, I'm trying to add the put method .. but something's not working with the data mapper. Do you have one done in the tests ?

[2016-10-11 18:02] darrencauthon commented on #110
@clashvk Ahhhh I'm not sure.

I looked at the code over lunch, and I think the biggest problem is that the recipient retrieve method does not return an actual RecipientList.  Instead, it returns a glob of the http response with all of the fields that belong on a RecipientList.

I'm still working on it.

[2016-10-19 12:49] xandhen opened #112 "Feature request: Provide "raw" substitution data"
Hi,

Internally in our project we have decoupled the sending and generation of emails for various reasons. This seems to cause us a bit of a headache when we want to use templates for the transmission with the current API though. From what I can find the Transmission class only lets us provide substitution data in a dictionary form. Since we are passing data between different parts of our system,

[2016-10-19 14:26] darrencauthon commented on #112
Hmmm..... let me think about this for just a bit.

I think I need to have it be a dictionary, just to aid other users.  SparkPost expects, essentially, a plain ol' JSON document.  I made it a dictionary because I thought that would be the easiest way for users to quickly toss in some data into the template, like:

[code]

But given how the DataMapper works, the data properly could technically take

[2016-10-19 14:29] darrencauthon commented on #112
@xandhen But in the meantime, here is my next target to help you:

https://github.com/darrencauthon/csharp-sparkpost/blob/2f96ade177715bb591c80a25a83b091c50ae92c6/src/SparkPost/Client.cs#L32

It's this one line that is the real problem

[code]

It's in the constructor, and there's no way to override it.  I could allow a custom data mapper to be inserted through custom settings.  Then you could ove

[2016-10-19 14:31] darrencauthon commented on #112
- [ ] Add this to the projects board.
- [ ] Consider changing the dependencies on the DataMapper to lazy-loading functions, which will allow the DataMapper to be changes after the Client has been instantiated.
- [ ] Chew more on the idea of making substitution data a raw object.

[2016-10-20 19:34] xandhen commented on #112
Thanks of the speedy response.

I understand the rationale behind the dictionary, it makes it very convenient to add smaller pieces of data rapidly. Having the dictionary also makes it easy to add the data incrementally rather than using anonymous object for most users. As you point out, serializing any object will however yield the same result JSON wise as an object is essentially a property-name

[2016-10-20 20:42] darrencauthon commented on #112
I could bring it in as an optional parameter, but... I'd like to avoid any library-specific objects in the construction of the client.  I think it's just a personal thing, but just sticking with SparkPost configuration strings has caused the constructor to go a little crazy.  I have a custom settings object which I use to set optional variables, so I think I'll thread the ability to pass along a c

[2016-10-21 02:43] #110 closed

[2016-10-21 02:53] darrencauthon commented on #110
@clashvk Please check version 1.9.3; the update method should be available on nuget shortly.

Let me know if you find any issues.

https://github.com/darrencauthon/csharp-sparkpost/releases/tag/1.9.3

[2016-10-26 19:04] waglons commented on #79
Do you have an idea of a timetable for this enhancement?  Thanks!

[2016-10-27 14:09] darrencauthon commented on #79
Hi @waglons I don't have a timetable set.  I was going to wait for more dust to settle on Core before I jumped back in.  I think there were a few things that I use that I needed to get converted... specifically Unity, Moq, or other test stuff.  I blew a decent amount of time converting a couple libraries to Core, and failed because it just didn't seem ready yet.

Do you know how things are now?  S

[2016-11-08 09:16] osya opened #114 "Enclose Name in double quotes"
Name value from transmission.Content.From.Name enclosed in double quotes in the "From" field in the email. It should not be enclosed in double quotes, or should be possibility to switch off these double quotes.

Here is my transmission.Content.From settings:
transmission.Content.From.Name = "Redfoodie";
transmission.Content.From.Email = "restaurants@sparkpostbox.com";

What is appears in email: "F

[2016-11-08 13:01] darrencauthon commented on #114
Is this library responsible for this?

[2016-11-08 13:02] darrencauthon commented on #114
What do you mean, "What I suspect" ?

[2016-11-08 16:51] osya commented on #114
"expect". Sorry

[2016-11-08 20:29] darrencauthon commented on #114
@osya I don't think it does.  I'll take a look later, but I don't remember writing any special logic to quotes appear.

If you want to know if it's possible to disable quotes, I'd check the API.  This library closely mirrors the API, and if such a field appears we'll add it to the library.

I'm going to close this issue because I'm 99% sure that this is a matter for SparkPost.  You'll have to make

[2016-11-09 05:46] osya commented on #114
@darrencauthon I agree with - it is not csharp-sparkpost, but Sparkpost API issue. This is the request for sending email:

POST https://api.sparkpost.com/api/v1/transmissions HTTP/1.1
Authorization: 600038c91faa25207a948b476da10ccf88dbab64
Content-Type: application/json; charset=utf-8
Host: api.sparkpost.com
Content-Length: 7592
Expect: 100-continue
Connection: Keep-Alive

{"recipients":[{"address

[2016-11-09 16:46] osya commented on #114
I checked in PostMan that API https://api.sparkpost.com/api/v1/transmissions allows to use string for "from" attribute
[code]
It solves my problem. But csharp-sparkpost does not allow to use string for Transmission.Content.From property, as it has Address type. Could you please make possible to use strings for Transmission.Content.From field?

[2016-11-11 17:18] darrencauthon commented on #114
Thinking.... I can't make it possible to use strings, as I don't want the code to have exception cases or multiple ways to do the same thing.  This is part of the pain we feel with static typing... the fact that we can't just have the property take BOTH cases.  I miss Ruby.

I think I have another alternative, though.  If someone creates a recipient, but they only set the email address, then I mig

[2016-11-11 20:16] osya commented on #114
As I understand returning only the string version of the email address is not solving my issue. May be you should use `dynamic` type for `From` property? Or if you want to stay with static typing, may be you should create two `From` properties - private and public (surely the name of private property should be slightly different, _From, for example). And will be public properties `Name` and `Email

[2016-11-11 23:00] darrencauthon commented on #114
I have to stay with static typing -- this library is for C#.

The switch with a ```From``` property versus a ```Name``` and ```Email``` properties is exactly the type of thing I want to avoid... I think that's confusing to end users.  And it's against the flow of the entire library.  The objects this library use directly map to the SparkPost API, which means that I don't have much left-to-right ty

[2016-11-12 07:02] osya commented on #114
"allow the mapper to be overwritten" - Ok. It will solve this issue. In such case this issue can be closed, I suppose. How you are going implement this? Using delegates? Or may be by create Factory for `Transmission` class, and this Factory will instantiate descendants of `Transmission` class with certain type for `From` property?

[2016-11-12 07:02] #114 closed

[2016-11-14 04:25] jasneo opened #115 "Is Metrics API supported?"
I don't see any references to Metrics API. I am checking whether it's supported in this project.

Thanks

[2016-11-16 16:02] waglons commented on #79
Core seems to be moving fairly quickly.  I've started using it on some client projects.

[2016-11-17 16:31] darrencauthon commented on #79
I'll take another look at it, as I need it for other projects as well.

[2016-11-24 10:56] frarodnie opened #117 "Error using Suppressions Retrieve "Cannot convert null to 'bool'""
Looks like there is an error using Suppressions.Retrieve("Email@dominio.com") method when the email is on the suppression list, throwing an error "Cannot convert null to 'bool' because it is a non-nullable value type" , if the email is not in the supression list works fine, everything was working ok one and a half moths ago, probably sparpork changed the data cooming back.

I'm using the library f

[2016-11-27 16:33] asherber commented on #115
I'm working on an approach to this. Will be happy to contribute back to the project when it's complete.

[2016-11-27 23:19] asherber commented on #115
@darrencauthon, I have a working implementation of Metrics, but I'd like to check with you on a couple of design decisions. What's the best way to proceed?

[2016-11-28 04:34] darrencauthon commented on #115
Hey I'm sorry, busy weekend... haven't had a chance to sit and code. I'll get the other PR merged and deployed soon. Let's chat, what design do you want to talk over?
Get Outlook for iOS

On Sun, Nov 27, 2016 at 5:19 PM -0600, "asherber" <notifications@github.com> wrote:

@darrencauthon, I have a working implementation of Metrics, but I'd like to check with you on a couple of design decisions. Wha

[2016-11-28 14:10] asherber commented on #115
I just wanted to check the design with you so that I could make any needed changes while finishing up. I modeled most of it on what you've got with `MessageEvents`.

The four API functions that retrieve lists of resources (IP pools, sending IPs, domains, campaigns) are pretty straightforward. There's a query object you can fill out (like `MessageEventsQuery`) with the 5 optional parameters, and th

[2016-11-28 15:35] darrencauthon commented on #115
Just based on what you've said, and without looking in-depth at the code... It doesn't make sense to me to use a dictionary while trying to avoid "magic strings."  I'll look at what you have deeper, but I should tell you:  I'm not a fan of enums, at least in the places this library has used them.  I accepted a pull request or two with them, and I regretted it later.  And I don't regret it out of s

[2016-11-28 15:36] darrencauthon commented on #115
Thank you for your work!  I will work to get it included in the main branch as soon as possible, once you say it's fully ready (like the other PR).

[2016-11-28 15:46] asherber commented on #115
Happy to discuss strings vs. enums with you further. As you'll see, these aren't technically enums -- they're a class with `static readonly` fields that are convertible to strings. The idea is for the user to be able to do something like:
[code]
rather than
[code]
and having to make sure they spelled 'domain' correctly, every time they use it. Using a type lets the user have IntelliSense for disco

[2016-11-28 16:16] darrencauthon commented on #115
Yeah, they make sense to me.  I did do a Control+F on your code and didn't see "enum" appear, but I just figured you hadn't push them or I was missing something... so I said "take a deeper look later."

I'm fine with that approach.  It allows the data to be what it is, without being forced to convert from strings to enums, and enums to strings.  It really helps when/if the API changes.  If it's a

[2016-11-28 18:40] asherber commented on #115
Okay, I changed this to using strings as the dictionary keys. `MetricsField` is now just a collection of consts for convenience and lets users forget about magic strings if they want:
[code]
`dict[MetricsField.Injected]` still works, but so does `dict["count_injected"]`.

[2016-11-30 15:17] asherber commented on #115
@darrencauthon I'm curious as to why you made the argument to `MessageEvents.List()` an `object` rather than a `MessageEventsQuery`. Is there a use case in which someone would pass in a different object? I followed your lead in `Metrics`, but frankly it would be useful to have a typed object in the calls so that I can check for required fields.

[2016-12-01 14:13] BogdanovKirill opened #118 "Need compatibility with Json.NET 9"
Hi,

After updating Json.NET to lastest version, I have exceptions like that:
One or more errors occurred. System.AggregateException: One or more errors occurred. ---> System.IO.FileLoadException: Could not load file or assembly 'Newtonsoft.Json, Version=7.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The located assembly's manifest definition does not match

[2016-12-01 14:44] darrencauthon commented on #117
I will take a look at this soon, thank you for reporting!

[2016-12-01 14:47] darrencauthon commented on #115
@asherber I allow it to accept an object instead of a typed object so it will accept anonymous types.

For example, I could search for events like this:

[code]

or just...

[code]

The trick is that the library uses conventions for converting the request based on the properties of the object, rather than the properties of a specific type.

[2016-12-01 14:50] darrencauthon commented on #115
@asherber That's pretty much the approach I've taken with the entire library.  I found the ways that the SparkPost handles strings, numbers, arrays, etc., and then I mapped conventions to send the properties as I saw fit.

Another benefit to this approach is that it allows for people to extend or use the library in ways that I did not see when I started it.  For example, SparkPost has added proper

[2016-12-01 15:07] asherber commented on #115
Okay, thanks. My personal inclination is to be more strict about these things and update the library as needed, but I'll follow your lead. I think I'm just about done with coding, unit tests, and some external testing as well. Will let you know soon.

[2016-12-01 15:12] darrencauthon commented on #115
@asherber Thank you!

I know what you mean, I used to be that way, too.... but I took a four-year hiatus from full-time C# in favor of Ruby. :smile:  It taught me the benefits of being looser with the typing in favor of the users of the library. :smile:

[2016-12-01 15:27] asherber commented on #115
I think you could make a case for users' convenience either way. As a dev, I like strong  typing because it aids with discoverability and helps me avoid errors up front. If I pass an anonymous object into one of these functions, I might not see errors until the call actually hits the API, whereas a strongly typed object shows me what to do.

As a side note, I'm currently evaluating a few ESPs and

[2016-12-01 15:39] darrencauthon commented on #115
Well, I can understand the discoverability with strong typing, which is why I created the query class.

But restricting people into that specific type doesn't do much good, especially in a static language where our options to update and correct the library are very limited.

The strong type does not fix this, as it's still possible not to call the library in a proper way that could cause unexpecte

[2016-12-01 17:51] darrencauthon commented on #118
Hmm... will take a look.

[2016-12-01 19:28] asherber commented on #115
Okay, I think I'm going to call this done. There are unit tests in there for the basic stuff, and I've exercised all of the API calls as well. I'll submit the PR.

[2016-12-01 19:29] darrencauthon commented on #115
Thank you! :smile: 👍

[2016-12-01 23:57] darrencauthon commented on #118
@BogdanovKirill I took a look, and I was able to update Json without any trouble:

![screenshot_120116_055605_pm](https://cloud.githubusercontent.com/assets/148768/20817810/6f5788da-b7ef-11e6-8372-5554b82ae44e.jpg)

![screenshot_120116_055736_pm](https://cloud.githubusercontent.com/assets/148768/20817853/a5651384-b7ef-11e6-86f0-b119b7a0c399.jpg)

[2016-12-01 23:59] darrencauthon commented on #118
@BogdanovKirill I will be happy to look at this problem further if you have more specifics.  It's very possible that I might be missing something, but it seems to be able to work against the latest Json 9.0.1 for me in a brand-new project.

I'm going to close the ticket for now, just because I have nothing else to show.  If you can give me an example of the code or any additional information, and

[2016-12-01 23:59] #118 closed

[2016-12-02 00:01] darrencauthon commented on #118
For my own notes, in case this comes up again:

![screenshot_120116_060143_pm](https://cloud.githubusercontent.com/assets/148768/20817924/38d40224-b7f0-11e6-8735-35aefb9353eb.jpg)

[2016-12-02 15:09] darrencauthon opened #122 "Docker image certificate issue"
http://www.mono-project.com/docs/about-mono/releases/3.12.0/#cert-sync

http://www.mono-project.com/docs/faq/security/

[code]

[2016-12-02 15:10] darrencauthon commented on #108
I'm done with this, I think.  I'll write more specs for other apis when I get to it, but for now this is fine.

[2016-12-02 15:10] #108 closed

[2016-12-09 02:02] darrencauthon commented on #117
There is a fix for this on 1.11.1, available on nuget now.  Thanks again for reporting!

[2016-12-09 02:02] #117 closed

[2016-12-09 02:03] darrencauthon commented on #115
@asherber got the work completed, and support is now available on Nuget!

[2016-12-09 02:03] #115 closed

[2016-12-09 02:08] darrencauthon commented on #111
Hmm.... http://stackoverflow.com/questions/17187347/webheadercollection-httpwebrequest-on-xamarin#17267044

[2016-12-09 22:45] darrencauthon commented on #104
I still like this idea, kinda of.... but I think it would be better if people who are interested in SparkPost availability to use the SparkPost solutions for this.

Specifically, check their status page at http://status.sparkpost.com/ and subscribe to email & text updates to any status updates.

[2016-12-09 22:45] #104 closed

[2016-12-09 22:47] darrencauthon opened #129 "Add support for Account information"
I'm not going with the "Is Alive" check as suggested in #104, but we could offer support to get account information.  Then @Jetski5822 can make the web call himself, if he chooses.

[2016-12-25 03:09] asherber commented on #112
@xandhen I'm curious -- can you say a little more about why turning the JSON into a dictionary and then having it re-encoded during sending is a "huge" performance penalty? I may be missing something, but I ran some quick tests using
[code]
I created a list of 1000 JSON strings, each one containing 20 properties where the name and value were each a new GUID. Iterating through this list and deseria

[2017-01-18 23:27] asherber commented on #43
I think the SparkPost API totally botches this functionality. I get that to them a recipient is just a recipient, and everything else is playing with the To and CC headers, but that's not how a user thinks. A user should rarely have to know about the `Address.HeaderTo`.

It would be nice if the library would scan the list of recipients and do the following, probably as a helper method:

1. Concate

[2017-01-19 03:24] asherber opened #132 "Sink server/test mode"
https://support.sparkpost.com/customer/en/portal/articles/2560839-how-do-i-test-using-the-sink-server-on-sparkpost-?b_id=7411

It would be nice for the library to have some support around this. The simplest option, which is how some other ESPs manage it, would be to have a `TestMode` flag in `Transmission.Options`. If this flag is on, the library would append `.sink.sparkpostmail.com` to each reci

[2017-01-19 17:15] darrencauthon commented on #132
Ahh, I didn't know about this... that's a great idea!

Hmm....  I like your idea.  Part of me thinks we might want to carry this sink option from the client level all of the way down to the individual recipient.

So I could use them like this:

[code]

[2017-01-19 17:16] darrencauthon commented on #132
Just thinking aloud... I think it would be better to make this librarywork with the same verbiage as SparkPost.  So I know this feature is for testing, but they call it "sink" so we should call it that as well.

[2017-01-19 17:25] asherber commented on #132
I'm fine with using the "Sink" terminology.

As a user, I think having this just on an individual `Transmission` is what I would expect. My second choice would be to have it on the client, probably as `client.Transmissions.UseSink =  true`.

I would suggest not having this available at different levels of the hierarchy – it would be confusing to figure out how they interact (both on the dev side a

[2017-01-20 02:57] asherber commented on #43
I've been doing some playing with this, and SparkPost is even more messed up than I realized.

1. Multiple (comma-delimited) values in `header_to` are not allowed, and you can't explicitly set a `To` header in `content`. This means that you can't have a message which is "addressed" to multiple people, as you can from an SMTP client. (@darrencauthon points this out above as well.)
1. An email addre

[2017-01-20 03:25] darrencauthon commented on #43
I just got home. I'll be taking a look at this in the next hour or two. 
I had my head deep in how they did this, I just have to reload it in my brain. :)

On Thu, Jan 19, 2017 at 8:57 PM -0600, "asherber" <notifications@github.com> wrote:

I've been doing some playing with this, and SparkPost is even more messed up than I realized.

Multiple (comma-delimited) values in header_to are not allowed,

[2017-01-20 03:36] asherber commented on #43
No rush on this – my post was mostly pointing out deficiencies in the API and setting things down for the record. I don't think there's anything this library could do to improve things without diverging some from the structure of the API, which I know you are hesitant to do. I really wish SparkPost had provided separate To, CC, and BCC fields, like all the other ESPs, and then handled all the wiri

[2017-01-20 03:57] asherber commented on #43
Here's how to do a "proper" cc and bcc with this library:

[code]
All 3 recipients will get an email that looks like this:
[code]
There's no good way for the library to do this automagically at present, because the name "CC Person", which is needed for the CC header, doesn't appear in any of the `Recipient` objects. There would need to be at least one extra property and/or some new methods.

[2017-01-20 13:46] darrencauthon commented on #43
@asherber I'm sorry -- I took two TKD classes last night.  I was going to pull out my laptop after I took a short break, and I just fell asleep.

This issue sort of jogged my memory.  I remember trying to do something with my "CC Handling" class.  Doesn't this handle the situation?  https://github.com/darrencauthon/csharp-sparkpost/blob/129ed3f0b503d73b3f3a8c9bd524c875e4c8a556/src/SparkPost/CcHand

[2017-01-20 14:19] asherber commented on #43
The CC handling class does part of the work – it creates the CC header, although it doesn't add names to the header. But it doesn't play well if there are names on the addresses, as @LEloffel noticed, and it relies on the user to set `HeaderTo` correctly, which I think should be avoided if possible.

I have some code which I'll put into a Gist later this morning which addresses (no pun intended) t

[2017-01-20 15:37] asherber commented on #43
See https://gist.github.com/asherber/f12418c5ec92589aaff877f179b1118b  The first file is the code, and the second shows the result.

I coded this working directly on the transmission, because it was easier, but it could also be written to operate on the `Dictionary` produced by the mapper, so that the original transmission remains unaltered; that would allow for a flag like `Transmission.Options.D

[2017-01-21 03:08] asherber commented on #43
I added a code file that operates on the mapped dictionary instead of the original transmission.

[2017-01-21 12:57] asherber commented on #43
Actually, I'm thinking now that this _should_ be standard behavior, if any recipients are marked as CC or BCC – anyone who wants to manage all of this by hand would just keep all recipients as To and then do whatever they want with address fields and headers. I'm going to add some tests and submit a PR, and we can refine the idea over there.

[2017-01-24 14:49] #43 closed

[2017-01-25 15:09] darrencauthon commented on #43
@LEloffel Can you try the latest library, version 1.13.0?  This issue should be resolved for you now.

[2017-01-30 19:01] BogdanovKirill commented on #118
Thank you very much for your response! I will check again and give you more details

[2017-02-13 18:46] djsolid opened #139 "Preview Template Function"
Hello,

Any chance of adding the "Preview Template" functionality?

More info on the API: https://developers.sparkpost.com/api/templates.html#templates-preview-post

Thanks,
John

[2017-02-15 08:34] andycmaj commented on #79
If you're interested in this, I have a working port to a netstandard1.6 library.
some temporary hacks until System.Net.Mail is released along with netstandard2.0:

* Removed helpers to map `MailMessage` to `Transmission`
* added dependency on https://www.nuget.org/packages/Mime/ to do the Mime type discovery in one place.

[2017-02-15 13:31] darrencauthon commented on #79
You can zip it up and email it to me, at darren at cauthon dot com if that's easier for you.  Thank you!

@andycmaj

[2017-02-15 13:31] darrencauthon commented on #139
Might as well!

Sorry for the late reply, I didn't get an email notification for this....

[2017-02-15 21:52] andycmaj commented on #79
FWIW, this should be in dotnetcore 2.0:
https://github.com/dotnet/corefx/pull/12416, so you'll be able to remove
that extra mime dependency and add back the System.Net.Mail mapping stuff.

On Wed, Feb 15, 2017 at 5:31 AM Darren Cauthon <notifications@github.com>
wrote:

[2017-03-21 18:27] mixerp commented on #79
What is the current plan to support .net core? We are stuck porting our `SparkPostMail` app:

https://github.com/frapid/frapid/tree/master/src/Frapid.Web/Areas/SparkPostMail

[2017-03-21 21:36] ctolkien commented on #79
We too have used a fork SparkPost with `System.Net.MailMessage` dependencies removed (as they were not needed for us) and we didn't need to worry about mime types.

[2017-03-28 19:46] black-orchid commented on #112
I'm also interested in passing my own SubstitutionData json string; I'm would like to just call JsonConvert.SerializeObject() and pass that string directly to SparkPost, saving myself the step of deserializing it back into a dictionary.

[2017-03-28 20:33] darrencauthon commented on #112
I'm going to go ahead and close this. It's not going to happen.

I understand that it would be neat to be able to do this, but in the interest of all users of the library I think it is best to keep it a dictionary.

If I can expose the mapper, it can be overwritten to hook to whatever one may wish. But I'm not going to embed a work-around into the core API just because a few C# devs don't want to

[2017-03-28 20:33] #112 closed

[2017-04-06 13:32] cristoirmac commented on #91
A work around is to use a stored template, then fetch it via API, add the attachment and then send inline.  You should cache the template locally rather than fetch it for each transmission API call.  We did this in the WordPress plugin.

[2017-04-13 12:07] Jetski5822 commented on #79
Same, it looks like I will have to fork this too as I need .netstandard 1.6 support. sigh.

[2017-04-13 22:56] ctolkien commented on #79
I note that in .Net Framework 4.7, SMTP client is [now flagged as obsolete](https://docs.microsoft.com/en-us/dotnet/api/System.Net.Mail.SmtpClient?view=netframework-4.7) with the suggestion being to use Mail/MimeKit.

Could this add further fuel to the fire of dropping support of `System.Net.MailMessage` and/or using the MailKit equivalent - [MimeMessage](https://github.com/jstedfast/MimeKit/blob/

[2017-04-19 10:59] andreaslorenz opened #142 "add a template update method"
could you please add a template update method?

https://developers.sparkpost.com/api/templates.html#templates-update-put

[2017-05-04 04:37] ganeshgholap1984 commented on #48
I am sending mail using template, without any bug mail is going but the recipient is not receiving an mail.

[2017-05-29 09:38] gerardvdbosch opened #143 "MessageEvent Timestamp issue"
Upon creating a MessageEvent object from a webhook, I'm getting an exception that fails on parsing a unix date to a datetimeoffset in c#.

`"ExceptionMessage": "Could not convert string to DateTimeOffset: 1454442600. Path 'msys.message_event.timestamp', line 44, position 32."`

[2017-06-09 14:27] darrencauthon opened #144 "useragent"
And a request: Can you start setting your useragent along the pattern of csharp-sparkpost/1.0.0 with your next release? We want to be able to track usage of our client libraries and that will make it easier to show growth in the C# community. Replace 1.0.0 with your current version number of course.

[2017-06-16 10:37] cdokolas opened #145 "Getting "422 Unprocessable Entity" for JSON (.json) attachment"
I'm attaching a `.json` file (named "data.json") with type "`application/json`" via `File.Create<Attachment>(byte[], string)` and getting this response when sending the transmission:

[code]
JSON part:

[code]

[2017-06-21 08:56] andreaslorenz commented on #142
@darrencauthon do you already know, if you are going to provide the functionality to update an existing template?

[2017-06-26 16:26] black-orchid opened #146 "More Async Weirdness (Wait / await never returns)"
I reviewed the other thread on odd async behavior (Wait() and await that never returns), #39, and maybe my problem can be solved by just using the built-in sync functionality that is now available, but I thought I'd open this issue just in case the root cause can be discovered. I'm sending mail from a console Hangfire server that handles our background tasks. Each email is fired as an individual t

[2017-06-26 16:35] darrencauthon commented on #146
What version of Hangfire are you using?

[2017-06-26 16:43] black-orchid commented on #146
Hangfire 1.6.2, .Net 4.5.2.

[2017-06-26 16:48] darrencauthon commented on #146
@black-orchid I'd recommend using the Sync mode, anyway.  I don't think that version of Hangfire supports async entirely.

And I say this having used Hangfire a lot.  For my own safety, I don't expose the async/await features of my code for Hangfire to manage.  If the feature is asynchronous, I'll wrap it in:

[code]

I've never seen this happen in Hangfire, but it might be because I use the windo

[2017-06-26 16:49] darrencauthon commented on #146
I'm going to close this library because I do not think these are issues with the library.

If you are experiencing weird behaviors, you can probably get around them by making this library go synchronous like this:

[code]

[2017-06-26 16:49] #146 closed

[2017-06-26 16:58] black-orchid commented on #146
Thanks!

[2017-06-27 21:08] SmittyTan opened #148 "Do we have an example how to attach the file to the sparkpost email that was upload to the site ?"

[2017-08-17 20:29] tulbox opened #151 "Ability to see resultant raw API call?"
Running into an issue with a simple transmission send that involves a template (template not found, even though it is there and published). Is there any way to see the resultant raw API call to aid in debugging?

[2017-09-07 10:51] eydelrivero commented on #143
For anyone having this issue while parsing the webhook response, you would need to convert from unix datetime format to DateTimeOffset. In .Net 4.6+, you can use `DateTimeOffset.FromUnixTimeMilliseconds(long milliseconds)`. Take a look at [this post](http://gigi.nullneuron.net/gigilabs/converting-tofrom-unix-timestamp-in-c/).

[2017-09-22 18:33] zythra opened #152 "Request: Add TargetLinkUrl to MessageEvent"
Can TargetLinkUrl be added to MessageEvent please?  I've added it in a cloned repo, but the change is so small I don't know that it's worth creating a pull request for it.  It was as simple as adding the property to MessageEvent and adding the mapping "TargetLinkUrl = result.target_link_url" in the ConvertResultsToAListOfMessageEvents() method in the MessageEvents class.

Thanks!

[2017-10-11 21:00] Richard-West commented on #152
Create a Pull Request so this can be implemented

[2017-10-11 21:54] zythra commented on #152
@Richard-West Funny you should mention this today as I was just thinking this morning I'd just go ahead and do it.  Is this something you're after as well or were you just giving me a little push?  ;)

[2017-10-11 22:30] zythra commented on #152
Pull request submitted.

[https://github.com/darrencauthon/csharp-sparkpost/pull/153](url)

[2017-10-11 22:41] Richard-West commented on #152
We were looking for this same functionality earlier today!

Richard West
________________________________
From: zythra <notifications@github.com>
Sent: Wednesday, October 11, 2017 5:54:46 PM
To: darrencauthon/csharp-sparkpost
Cc: Richard West; Mention
Subject: Re: [darrencauthon/csharp-sparkpost] Request: Add TargetLinkUrl to MessageEvent (#152)

@Richard-West<https://github.com/richard-west> Funn

[2018-02-20 00:23] ajbeaven commented on #39
Sorry, just to clarify - are you saying that it's not possible to `Wait()` when using the asynchronous command to send emails?

Are you sure this isn't a problem with the library? I've never experienced any problems using `Wait()` with any other asynchronous library, and this approach is pretty common with legacy systems where it's not feasible worth it to 'async all the way down'.

[2018-03-11 22:31] stap123 opened #155 "Webhook receiving Example"
great project, is there an example anywhere that shows how to deal with the request content that SParkPost send to a Webhook. I mean how I would get from a HttpRequest received in an MVC action to an object in c#?

Thanks

[2018-03-25 20:15] georgiosd commented on #79
Still nothing on this? :(

[2018-03-26 14:12] darrencauthon commented on #79
I'm sorry guys.... still need more time.

I'll be dropping the MailMessage entirely, with the possibility of support for MimeMessage later.

[2018-03-30 12:14] sreyas1986 opened #157 "Transmission id not available for out of band"
I keep track on my emails using transmission_id and keep tracking of what happened to my mail id after sending.When an Out of band  event happend i wants to do some changes in my db but the problems is  if it is out of banf i am not getting the transmission id is there any way to solve it or do i need to keep track with any other Unique id i can use keep track on it ?i use C#
![image](https://user

[2018-04-20 19:20] chadruff8 opened #158 "Custom Headers"
I have noticed that some API calls require custom headers.  For example, in creating a new webhook, it has custom headers as follows

{
  "name": "Example webhook",
  "target": "http://client.example.com/example-webhook",
  "custom_headers": {
    "x-api-key": "abcd"
  },
  "auth_type": "oauth2", etc...

But, the SparkPost.Webhook object does not contain a property for the custom headers.

Am I lo

[2018-05-07 09:51] Robar666 commented on #79
Any updates?

[2018-05-22 08:25] jvlemmings opened #159 "Sparkpost EU suppression generates 403 error"
Hi,

I would like to use Sparkpost EU. I create my client as follow:

`return new Client(API_KEY, "https://api.eu.sparkpost.com");`

Sending out emails works fine, but It generates following error when I try to get my suppression list.

`Response: 403 Forbidden. Content: {"errors": [ {"message": "Forbidden."} ]}`

Can you guys help me with this?

Thx

[2018-06-27 23:02] jpknoll opened #163 "Migrate to .NETStandard"
Any plans to migrate to the .NETStandard instead of the full framework?

[2018-07-03 01:43] jasonwuonline opened #164 "TLS upgrade"
Might need to add
                    System.Net.ServicePointManager.SecurityProtocol = System.Net.SecurityProtocolType.Tls11 | System.Net.SecurityProtocolType.Tls12;

for the system to use the new TLS version

[2018-07-03 07:45] lichutin commented on #164
It may be better to set SecurityProtocol on your code than inside SparkPost library.
Another solution is to upgrade .NET framework version.
[Transport Layer Security (TLS) best practices with the .NET Framework](https://docs.microsoft.com/en-us/dotnet/framework/network-programming/tls)

[2018-07-03 08:21] Robar666 commented on #163
There is [PR 150](https://github.com/darrencauthon/csharp-sparkpost/pull/150), but it hasn't been finished.

I'm also looking forward to it.

[2018-07-07 15:08] nh43de commented on #163
+1

[2018-07-27 07:35] aaronclausen commented on #164
Grrr!!! Thanks Jason for the code, I had to put this above anywhere I was using the SparkPost CSharp nuget package code to send emails, as my emails have been getting lost for almost a week!!!

[2018-07-27 22:07] scgough opened #165 "Error Retrieving Recipient List"
Hi all!
I'm trying to retrieve a RecipientList via the API (and this component) but I'm having a bit of trouble:

My code:
[code]

...but as soon as it calls the `Retrieve` it errors with:

`The underlying connection was closed: An unexpected error occurred on a send.`
`Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host.`

I've checked

[2018-07-27 22:10] scgough commented on #165
I posted too soon!
I'm using .NET 4.5.2 and I just needed to force TLS 1.2.

The following line before my SparkPost calls fixed it:
`ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;`

[2018-07-27 22:10] #165 closed

[2018-07-30 14:08] mralj commented on #159
Hi,

You have to sign in into your SparkPost account, go to Settigns > API Keys > Click on your API key and there edit permissions for the API Key (ie. allow it to work with Suppression lists).

[2018-07-30 15:14] hitinder opened #166 "Authentication failed because the remote party has closed the transport stream."
Line 75:             email.Recipients = _recipients;
**Line 76:             var response = await client.Transmissions.Send(email); // This causes error.**

[IOException: Authentication failed because the remote party has closed the transport stream.]    System.Net.TlsStream.EndWrite(IAsyncResult asyncResult) +231    System.Net.PooledStream.EndWrite(IAsyncResult asyncResult) +15    System.Net.Conne

[2018-07-30 20:56] hitinder commented on #166
Its related to TLS; therefore, I will close this issue.

[2018-07-30 20:56] #166 closed

[2018-07-31 01:46] ohine commented on #164
@aaronclausen I second your Grrrr! If this is required to function, it needs to be handled in the library. Ran into this one today as well on our account.

[2018-08-02 00:47] LatoSoftware commented on #164
Third Grrrr!!!!!

[2018-08-02 19:10] ivanteles opened #167 "An existing connection was terminated by the remote host"
Call: client.Transmissions.Send(transmission);
Erro: An existing connection was terminated by the remote host

[2018-08-02 19:59] ivanteles commented on #167
For it to work after the upgrade to tls 1.1 add this excerpt to line 83 of class `Cliente.csSystem.Net.ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12 | SecurityProtocolType.Tls11 | SecurityProtocolType.Tls;`

[2018-08-02 19:59] #167 closed

[2018-08-03 17:16] gotorresgt18 opened #169 "SparkPost Library not works"
I had using it since 2016 and since and from July 23, 2018 to date, the class library dont works.

[2018-08-03 22:53] Nemisys commented on #169
I just noticed emails failing to send as well.

[2018-08-06 14:59] gotorresgt18 commented on #169
I had seen this link and did what I was told there but it did not work.

https://www.sparkpost.com/docs/tech-resources/tlsv1-0-test-hostname/

But I just did what you told me and everything worked wonders, thank you very much.

[2018-08-06 14:59] #169 closed

[2018-08-07 14:06] AwaisMajeedDGS opened #170 "Only one usage of each socket address is normally permitted"
Only one usage of each socket address (protocol/network address/port) is normally permitted 34.209.189.137:443.

C# Sparkpost API version is 1.14 which we are using.

[2018-08-15 12:54] SebGX opened #171 "Nuget package dependency issues and .NET Core 2.1"
Hi Darren,

Any chance of a package with updated dependencies (Newtonsoft.Json to latest) and a .NET Core 2.1 build?

Warm regards,
Seb

[2018-10-16 21:38] stewartnoll opened #175 "UserAgentTests Failure - It_should_default_to_the_library_version"
AssemblyInfo.cs was [bumped](https://github.com/darrencauthon/csharp-sparkpost/commit/a907c8c5445a1c32c0ecbd226fccdefa6dad9afd#diff-7f9fb7097a976a080a171e712d21801c) to the next version but [UserAgentTests.cs](https://github.com/darrencauthon/csharp-sparkpost/blob/master/src/SparkPost.Tests/ClientTests.cs#L78) was not updated to reflect the version change.

[2018-11-01 18:37] coactionsoft-kanghyuk opened #177 "Compatibility with .NET 4.0?"
I'm getting that the SparkPost package does not contain references for .net 4.0.
Is there any other way to integrate SparkPost into a 4.0 application?
Maybe an older version or a different way?

Thank you!

[2018-11-16 20:43] jgunter7 opened #178 "A/b Testing Support"
Featuer Request.

When will support be added to/for the following:

1. Transmission API - Send A/B Test
2. Wrapper for A/B Test API methods

[2019-03-21 23:01] jboarman commented on #79
Is it time to update the title of this ticket to support Core 2.0 or 3.0?  😅

[2019-03-22 18:06] jboarman commented on #79
Should this ticket be closed and instead reference #138 and #150?  Is there anything special here that affects ASP.NET that is not addressed with support for .NET Core and/or .NET Standard?

[2019-05-29 15:31] jgunter7 opened #181 "Message-Events is deprecated"
Need to allow use of the new "Events" API instead.

[2019-05-29 18:13] jomargon commented on #181
We need to transition from Message Events to Events as well. Is this project is active?

[2019-05-29 19:05] jomargon opened #182 "Add Events API"
Early this month, we got an email from SparkPost indicating that the Message Events API will be discontinued on October 1, 2019. They suggested using the new Events API and Events Search.

[2019-06-27 13:43] Blackbaud-BryanRaynor opened #184 "Feature request: support setup_api_key when creating subaccount"
We would like to be able to create a subaccount without an API key, i.e. setup_api_key = false.

[2019-06-27 13:43] Blackbaud-BryanRaynor opened #185 "Feature request: support ip_pool when creating subaccount"
We would like to be able to specify an ip_pool when creating a subaccount.

[2019-08-01 08:29] Robar666 opened #186 "State of this repo"
Hi,

first of thank you @darrencauthon for this NuGet package, we are using it in our commercial software for more than 3 years now and it always worked perfectly.

I'm now just wondering in which state this repo currently is and if it's still active or not, because the last release is over 2 years ago (Jul 2, 2017) and the latest commit to this repo by @darrencauthon was over one year ago (https:

[2019-08-01 14:11] darrencauthon commented on #186
Good morning @Robar666 ,

Thank you for asking.  I'll be honest and completely upfront with you:

The state of the project is that it's held back by personal life.  Since I wrote this library, I've gone through a divorce, single parenting, remarriage, and moving.  My personal life is so full and happy, it's hard to find time to load this library in my head.  This library was a small passion of min

[2019-08-01 18:51] asherber commented on #186
I'm a fan of this library and happy to help out, but since SparkPost isn't central to my work right now, I don't think I'd be a good maintainer. I think my PR #161 has what's needed to target net45 and netstandard1.6; it should be easy to change that to 2.0 if desired (or add 2.0).

[2019-08-02 07:36] Robar666 commented on #186
Hi,

first of all thanks for your honest response, I really appreciate a straightforward answer. I also totally understand that family comes first, I probably would have done the same in your situation.

I think it would be a great idea to put a tweet out that you're looking for new maintainer.
I can also bring it up in our next sprint planning meeting, but since it is just a very small part of ou

[2019-10-10 12:02] Robar666 commented on #186
Hi,
it's been a while since my last response.

Since I had no time to work on this task, my colleague forked the project, made the necessary changes and created a pull request (https://github.com/darrencauthon/csharp-sparkpost/pull/187/).
He migrated the Sparkpost + test project to `netstandard2.0` and changed the test framework to xunit (since we are more familiar with this framework).

We are no

[2019-10-17 13:02] gregveres commented on #139
@eydelrivero You forked and added this functionality right? How are you including it in your project? I need preview functionality as well, so I would like to incorporate your version into my project rather than the official version.

[2019-10-17 13:27] gregveres commented on #139
@eydelrivero I don't know if you have a better approach for using your branch, but I just used github to download your PR, then I copied the source project into my solution. Is that how you are using it?

Also, do you have some sample code of how you call the preview method? I am a little lost on where you get an instance of a template so that you can call the new preview method.

Thanks

[2019-10-17 13:57] gregveres commented on #139
@eydelrivero nevermind on the sample. Having easier access to the code in VS makes it much easier to figure out how to call this stuff. For anybody who stumbles upon this thread later, here is an example of how to call it:

[code]

[2020-03-31 18:32] eydelrivero commented on #139
Sorry @gregveres for this late response. I totally missed your messages from October. Just as a late confirmation, yes! that is exactly how I use it. You can control which version (draft, published) of the template you want to preview by using the optional `draft` boolean param on the `Template()` method. The `Template()` method returns a `Task` so it should be `await`ed. Also, to get the resultin

[2020-03-31 18:35] gregveres commented on #139
@eydelrivero :) better late than never.

I have moved away from SparkPost. I was happy enough with them until they changed their pricing model and the first level that I needed as $80 USD per month. That was too expensive so I switched to SendGrid for $15USD per month for the functionality that I need.

There are pros and cons to sendgrid vs sparkpost, but I think I would recommend sendgrid.

[2020-03-31 18:53] eydelrivero commented on #139
@gregveres glad to know you are good with SendGrid. I'm thinking about it myself after having some trouble sending from Sparkpost to Microsoft accounts.

[2020-03-31 19:49] gregveres commented on #139
The one big thing about send grid is that for the $15 per month you don't get a dedicated IP address. That means that your sending reputation is at the whim of over send grid customers. This is something that they could manage but they don't.

I could see that once an IP address gets flagged as being responsible for spam, they could quarantine that IP address for the necessary 30 days and use othe

[2020-03-31 19:51] gregveres commented on #139
Oh, there is something that I could do. I could build in a web hook that listens for that type of failure and retry. But my architecture isn't setup for that. Once I think I send the email, I delete the email from the database and move on. I would have to have a table of "awaiting status" emails so that I could retry. I just haven't gotten around to it.

[2020-04-08 09:07] tuck1s commented on #186
Hi @darrencauthon , I just wanted to add a personal note of thanks for the work you've done on this library. I use Linux and OSX for development, so gravitate towards other languages such as Python, C and Go. I hope you do find maintainers to take this forward.

[2021-04-27 08:25] adamhathcock commented on #186
I'll maintain this.  I've already forked this for work but having a community around this would be better.

[2021-12-08 13:18] Robar666 commented on #186
Hi @adamhathcock, how is it going?

Have you had time yet to work on the repo? Our PR #187 is still unmerged.
I came back to this issue, because the next big roadblock is ahead: .NET 6 migration.

[2021-12-08 15:13] adamhathcock commented on #186
@Robar666 I'm not a maintainer of this repo.  As far as I know, this repo is still abandoned

[2021-12-08 15:19] asherber commented on #186
@Robar666 If you're moving to .NET 6, and you've already migrated this library to netstandard2.0 (per your earlier post and PR), then you should be good to go, no? I agree that it's too bad this project is no longer actively maintained, but it shouldn't be a blocker for you.

[2021-12-14 09:05] Robar666 commented on #186
@adamhathcock Oh, I thought based on your [last comment](https://github.com/darrencauthon/csharp-sparkpost/issues/186#issuecomment-827419048) that you were the new maintainer of this repo.

@asherber You are right, basically everything still works. The word "roadblock" was probably a little bit exaggerated. But as you already mentioned, it's a shame that the package is no longer active.

Can't hel

[2021-12-14 09:23] adamhathcock commented on #186
I was volunteering to take this repo and nuget, etc as well as help review PRs and stuff as I'd like to stay up to date as well.

[2022-01-08 22:40] #155 closed

[2022-03-01 00:42] TaviTruman opened #189 "Is the repo actively maintained?"
Is anyone using this repo?

[2022-06-23 07:36] adamhathcock commented on #186
Ping @darrencauthon

I'd like to maintain the continuity of this package and people instead of hard forking.

[2022-06-23 15:57] darrencauthon commented on #186
@adamhathcock Just sent an invite!

[2022-06-23 16:01] adamhathcock commented on #186
Great!  Now to think of what updates are short term and what are long term 😬

[2022-06-23 16:29] darrencauthon commented on #186
@adamhathcock Do you want to chat for a little bit about it?  I can give you a general direction and "philosophy" of the library, but then it'd be up to you. 😄  My email is my first name at my last name, dot com.

[2022-11-23 10:44] ArchSwiftpage opened #200 "Client.CustomSettings.SendingMode = SendingModes.Sync is no more working in 2.0.2"
I upgraded to 2.0.2,  I am getting error on this line Client.CustomSettings.SendingMode = SendingModes.Sync
SendingMode is not a property of CustomSettings. Please suggest what is code for this ifix.

[2022-11-23 11:13] adamhathcock commented on #200
There is no more sending mode options.  Everything is Async.

Previously, with the Sync option, it would be async then Wait to tie up the thread pool.  This has been removed.

[2022-11-23 11:33] ArchSwiftpage commented on #200
thank for your response and clarifications!

[2022-11-23 13:12] adamhathcock commented on #200
You don't, use async/await.  That concept has been around for a decade.

There are ways but that is out of scope for support of this library.

[2022-11-23 13:16] darrencauthon commented on #200
I get it, at some point, dot net devs have to understand async. Just to warn, I received SO MANY emails and messages from people who didn't understand why their emails would not send. The Sync mode was a patch to end them, which worked.

[2022-11-23 13:31] adamhathcock commented on #200
You added Sync mode in 2016 which would make sense as `async` was still fairly new about how to use it.  6 years on, I don't think it's something that should encouraged or supported.

If people don't want to update their code, they don't need to update their nuget reference.

Not trying to be a jerk but things need to move on to make maintenance easier.

[2022-11-23 13:55] darrencauthon commented on #200
That's cool, just giving the context and warning. Good luck!

[2022-11-23 15:05] ArchSwiftpage commented on #200
yes, we used it in 2016, now updating all the nuget packages in our project.
Finally found a way to invoke this in sync mode. thanks for your guidence and motivation :-)

[2022-11-23 15:25] adamhathcock commented on #200
Glad it worked out

[2022-11-23 15:25] #200 closed